<div class="row">
	<div class="col-sm-11 col-sm-offset-1">
		<div class="col-sm-12 chapter-headline">
			<span class="chapter-number">第1章</span>
			<span class="chapter-title">Part1 エッセンシャル思考</span>
			<div class="point">
				『より少なく、しかしより良く』
			</div>
		</div>
		<div class="col-sm-12 quotations">
			賢く生きる者は、不要なものを排する。<br>
			-林語堂(作家、思想家)-
		</div>
	</div>
</div>
<div class="row">
	<div class="col-sm-11  col-sm-offset-1 chapter_text-box">
		<div class="col-sm-12 case-study">
			〜　サム・エリオットの事例　〜
		</div>
		<div class="col-sm-12">
			<div class="col-sm-6 chapter_text-item">
				<h3>01</h3>
				<span class="number-title">仕事の悩み</span>
				<span class="number-title_english">Work warring</span>
				サム・エリオットは、ある悩みを抱えていた。
				自分たちの会社が企業傘下になってからというもの、
				仕事にやりがいを感じられなくなっていた。<br>
				新しい組織で身を粉にし働き、無茶なスケージュールも「やります」と答え、
				やりきれない量の仕事を抱える日々。
				徐々にストレスは溜まり、仕事の質は落ちていった。
				瑣末な仕事に追われるばかりで、何の成果も見えてこない。
			</div>
			<div class="col-sm-6 chapter_text-item">
				<h3>02</h3>
				<span class="number-title">相談</span>
				<span class="number-title_english">Consultation</span>
				そんなある日、会社から早期退職のプランの説明会があった。
				彼はまだ50代になったばかりで、リタイアするには早かったが、疲れているのも事実だった。
				そこで、信頼している先輩にどうするべきか相談しに行った。<br>
				するとこうを言われた。「今の会社で、コンサルティングの仕事だけやっていればいい。うまくやれば大丈夫だ」。<br>
				つまり、『自分にとって本質的な仕事だけをやれ』と。
				それ以外の仕事はすべて無視しろと。
			</div>
		</div>
		<div class="col-sm-12">
			<div class="col-sm-6 chapter_text-item">
				<h3>03</h3>
				<span class="number-title">仕事を減らす決断</span>
				<span class="number-title_english">Decision to reduce work</span>
				エリオットはアドバイスに従ってみることにした。
				翌日からは仕事を減らすことに専念した。つまり、仕事を「断る」ことを始めたのだ。<br>
				最初は断ることに恐る恐るだったが、依頼を受ける基準を厳しくし、
				「この仕事は、今自分がやれることのなかで一番重要か？」と問う。
				そして、「一番重要だ！と言い切れる仕事しか受けないことにした。<br>
			</div>
			<div class="col-sm-6 chapter_text-item">
				<h3>04</h3>
				<span class="number-title">変化</span>
				<span class="number-title_english">Change</span>
				周囲の人たちは最初残念そうな顔をしていたが、すぐに受け入れてくれた。
				それどころか、以前にもまして彼に信頼をよせてくれるようになった。<br>
				本当に重要なことだけをやると決めてから、仕事の質は目に見えて改善された。
				あらゆる方向に1ミリずつ進むのをやめて、これと決めた方向に全力疾走できるようになったからだ。<br>
			</div>
		</div>
		<div class="col-sm-12">
			<div class="col-sm-6 chapter_text-item">
				<h3>05</h3>
				<span class="number-title">エピソードを通して</span>
				<span class="number-title_english">Work warring</span>
				この話は、『エッセンシャル思考』の大切さを教えてくれる。<br>
				「なにもかもやらなくては」という考え方をやめて、断ることを覚えたとき、本当に重要な仕事をやりとげることが可能になるのだ。自分の生活を振り返ってみてほしい...<br>
				機嫌を損ねないためだけに依頼を引き受けてないだろうか？
				イエスに慣れすぎて、思考停止していないだろうか？
				忙しすぎてすり減っていると感じることはないだろうか？
				働きすぎなのに成果が出なかったり、どうでもいい作業に追われて仕事ができないと感じたことはないだろうか？
			</div>
		</div>
	</div>
	<div class="col-sm-offset-1 col-sm-11 border-line"></div>
</div>
<div class="row">
	<div class="col-sm-offset-1 col-sm-11">
		<div class="col-sm-12 case-study">
			<h3>エッセンシャル思考の人</h3>
		</div>
		<div class="col-sm-12">
			<div class="col-sm-7 chapter_style-1">
				エッセンシャル思考は、より多くのことをやりとげる技術ではない。正しいことをやりとげる技術だ。<br>
				もちろん少なければいいというものでもない。<br>
				自分の時間とエネルギーをもっとも効果的に配分し、重要な仕事で最大の成果を上げるのが、エッセンシャル思考の狙いである。
			</div>
			<div class="col-sm-7 chapter_style-1 chapter_style-2">
				エッセンシャル思考とそうでないやり方の違いは、明確だ。
				エッセンシャル思考でないやり方は、あらゆる方向に努力が引き裂かれている。だからどの方向にも、ほんの少しずつしか進めない。
				それに比べて、エッセンシャル思考のやり方は、努力の方向が絞られている。だから、とても遠くまで進むことができる。エネルギーの使いどころを必要最小限にすることで、一番重要なものごとにおいて最大の成果を上げているのだ。
			</div>
			<div class="col-sm-offset-5 col-sm-7 chapter_style-1">
				エッセンシャル思考の人は、適当に全部やろうとは考えない。
				トレードオフを直視し、何かをとるためには何かを捨てる。
				そうしたタフな決断は、この先やってくる数々の決断の手間を省いてくれる。
				それがなければ、うんざりするほど同じことを問い続けるはめになる。
			</div>
			<div class="col-sm-offset-5 col-sm-7 chapter_style-1 chapter_style-2">
				エッセンシャル思考の人は、流されない。
				たくさんの些末なものごとの中から、少数の本質的なことだけを選びとる。
				不要なものは全て捨て、歩みを妨げるものもすべて取り除く。
			</div>
			<div class="col-sm-7 chapter_style-1">
				要するにエッセンシャル思考とは、自分の力を最大限の成果につなげるためのシステマティックな方法である。
				やるべきことを正確に選び、それをスムーズにやりとげるための効果的なしくみだ。
			</div>
			<div class="col-sm-7 chapter_style-1 chapter_style-2">
				エッセンシャル思考は、自分の選択を自の分の手に取り戻すための道のりである。
				それはあたなに、これまでとはくらべものにならないほどの成功と充実を与えてくれる。
				結果だけでなく、日々のプロセスを心から楽しめるようになる。
			</div>
		</div>
	</div>
</div>

<!-- <div class="row">
	<div class="col-sm-offset-1 col-sm-11">
			<div class="col-sm-6 essential-contents">
				<p class="learn-contents essential-circle">
					考え方<br>
					[より少なく、しかしより良く]<br><br>
					・これをやろう<br>
					・大事なことは少ない<br>
					・何を捨てるべきか
				</p>
				<p class="learn-contents essential-circle">
					行動<br>
					[やることを計画的に減らす]<br><br>
					・本当に重要なことを見定める<br>
					・大事なこと以外は断る<br>
					・あらかじめ障害を取り除いておく
				</p>
				<p class="learn-contents essential-circle">
					結果<br>
					[充実感]<br><br>
					・質の高い仕事ができる<br>
					・コントロールしている<br>
					・正しいことをやっている<br>
					・毎日をたのしんでいる
				</p>
			</div>
			<div class="col-sm-6 non_essential-contents">
				<div class="learn-contents non_essential-circle">
					考え方<br>
					[みんな・全て]<br><br>
					・やらなくては<br>
					・どれも大事だ<br>
					・全部こなす方法は？
				</div>
				<div class="learn-contents non_essential-circle">
					行動<br>
					[やることをでたらめに増やす]<br><br>
					・差し迫ったものからやる<br>
					・反射的に「やります」と言う<br>
					・期限が迫ると根性で頑張る
				</div>
				<div class="learn-contents non_essential-circle">
					結果<br>
					[無力感]<br><br>
					・何もかも中途半端<br>
					・振り回されている<br>
					・何かがおかしい<br>
					・疲れ切っている
				</div>
			</div>
	</div>
</div> -->





<!-- <div class="row">
	<div class="col-sm-offset-1 col-sm-11">
		<div class="row">
			<div class="col-sm-12 essential-contents">
				<p class="learn-contents essential-circle">
					考え方<br>
					[より少なく、しかしより良く]<br><br>
					・これをやろう<br>
					・大事なことは少ない<br>
					・何を捨てるべきか
				</p>
				<p class="learn-contents essential-circle">
					行動<br>
					[やることを計画的に減らす]<br><br>
					・本当に重要なことを見定める<br>
					・大事なこと以外は断る<br>
					・あらかじめ障害を取り除いておく
				</p>
				<p class="learn-contents essential-circle">
					結果<br>
					[充実感]<br><br>
					・質の高い仕事ができる<br>
					・コントロールしている<br>
					・正しいことをやっている<br>
					・毎日をたのしんでいる
				</p>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-sm-offset-1 col-sm-10">
			<div class="col-sm-12 non_essential-contents">
				<div class="col-sm-4 learn-contents non_essential-circle">
					考え方<br>
					[みんな・全て]<br><br>
					・やらなくては<br>
					・どれも大事だ<br>
					・全部こなす方法は？
				</div>
				<div class="col-sm-4 learn-contents non_essential-circle">
					行動<br>
					[やることをでたらめに増やす]<br><br>
					・差し迫ったものからやる<br>
					・反射的に「やります」と言う<br>
					・期限が迫ると根性で頑張る
				</div>
				<div class="col-sm-4 learn-contents non_essential-circle">
					結果<br>
					[無力感]<br><br>
					・何もかも中途半端<br>
					・振り回されている<br>
					・何かがおかしい<br>
					・疲れ切っている
				</div>
			</div>
	</div>
	<div class="col-sm-6">
			<div class="col-sm-12 non_essential-memo">
				<%= form_with model: @memo, url: learns_path do |f| %>
				    <div class="form-gorup">
				    	<%= f.label :memo, "非エッセンシャル思考メモ" %><br>
				    	<%= f.text_area :memo, class:"col-sm-12 text-black", rows:"4", placeholder: "自身の経験など振り返って感じたことなどメモに残しましょう" %>
				    </div>
				    <%= f.hidden_field :user_id, :value => current_user.id %>
				    <%= f.hidden_field :chapter, :value => 1 %>
				    <%= f.hidden_field :essential_type, :value => 0 %>
				    <br>
				    <%= f.submit "メモを追加", class:"pull-right text-black" %>
				<% end %>
			</div>
	</div>
</div>


<div class="row">
	<div class="col-sm-offset-1 col-sm-5">
		<div class="row">
			<div class="col-sm-offset-1 col-sm-10 non_essential-memo">
				<%= form_with model: @memo, url: learns_path do |f| %>
				    <div class="form-gorup">
				    	<%= f.label :memo, "非エッセンシャル思考メモ" %><br>
				    	<%= f.text_area :memo, class:"col-sm-12 text-black", rows:"4", placeholder: "自身の経験など振り返って感じたことなどメモに残しましょう" %>
				    </div>
				    <%= f.hidden_field :user_id, :value => current_user.id %>
				    <%= f.hidden_field :chapter, :value => 1 %>
				    <%= f.hidden_field :essential_type, :value => 0 %>
				    <br>
				    <%= f.submit "メモを追加", class:"pull-right text-black" %>
				<% end %>
			</div>
		</div>
	</div>
	<div class="col-sm-5">
		<div class="row">
			<div class="col-sm-offset-1 col-sm-10 essential-memo">
				<%= form_with model: @memo, url: learns_path do |f| %>
				    <div class="form-gorup">
				    	<%= f.label :memo, "エッセンシャル思考メモ" %><br>
				    	<%= f.text_area :memo, class:"col-sm-12", rows:"4", placeholder: "自身の経験など振り返って感じたことなどメモに残しましょう" %>
				    </div>
				    <%= f.hidden_field :user_id, :value => current_user.id %>
				    <%= f.hidden_field :chapter, :value => 1 %>
				    <%= f.hidden_field :essential_type, :value => 1 %>
				    <br>
				    <%= f.submit "メモを追加", class:"pull-right" %>
				<% end %>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-sm-offset-1 col-sm-5">
		<p>非エッセンシャル思考メモ一覧</p>
		<% @non_essential_memos.each do |non_essential| %>
		    <div class="row">
			    <div class="col-sm-offset-1 col-sm-10 non_essential-memo"><%= non_essential.memo %></div>
			</div>
			<span><%= link_to "削除", learn_path(non_essential), method: :delete, class:"btn btn-danger btn-sm pull-right" %></span>
			<span><%= link_to "編集", edit_learn_path(non_essential), class:"btn btn-success btn-sm pull-right" %></span>
			<br>
		<% end %>
	</div>
	<div class="col-sm-5">
		<p>エッセンシャル思考メモ一覧</p>
		<% @essential_memos.each do |essential| %>
		    <div class="row">
			    <div class="col-sm-offset-1 col-sm-10 essential-memo"><%= essential.memo %></div>
			</div>
			<span><%= link_to "削除", learn_path(essential), method: :delete, class:"btn btn-danger btn-sm pull-right" %></span>
			<span><%= link_to "編集", edit_learn_path(essential), class:"btn btn-success btn-sm pull-right" %></span>
			<br>
		<% end %>
	</div>
</div>　-->

<div class="row">
	<div class="col-xs-offset-1 col-xs-11 nav-bottom">
		<div>
			<%= link_to "一覧", "/learns", class:"btn btn-default col-xs-offset-5 col-xs-2" %>
		</div>
		<div>
			<%= link_to "次章", "/learns/chapter2", class:"btn btn-default col-xs-offset-3 col-xs-2" %>
		</div>
	</div>
</div>