<div class="row space_top">
	<div class="col-xs-offset-1 col-xs-11">
		<div class="col-xs-12 chapter-headline">
			<span class="chapter-number">第15章</span>
			<span class="chapter-title">Part4 バッファ</span>
			<div class="point">
				最悪の事態を想定する。
			</div>
		</div>
		<div class="col-xs-12 quotations">
			「6時間で木を切れ」と言われたら、最初の4時間は斧を研ぐのに使うだろう。<br>
			エイブラハム・リンカーン(大統領)
		</div>
	</div>
</div>

<div class="row">
	<div class="col-xs-11 col-xs-offset-1 case-study-box">
		<div class="study-title">〜　エジプトの飢饉の事例　〜</div>
		<div class="col-xs-12">
			<div class="col-sm-6 study-item">
				<h3>01</h3>
				<span class="number-title">ファラオの夢</span>
				<span class="number-title_english">Pharaoh's dream</span>
				<div class="sentence">
					旧約聖書に、エジプトを7年の飢饉から救ったヨセフの話がある。あるとき、エジプトのファラオが不可解な夢を見た。どういう意味だろうかといぶかしみ、夢に詳しい家来たちに訊いてみたが、だれもその意味を答えられない。だが家来の1人が、ヨセフという男なら夢の解釈に定評があると言い出した。そこでファラオは、監獄にいたヨセフを呼び出し、夢の意味を教えてもらうことにした。
				</div>
			</div>
			<div class="col-sm-6 study-item">
				<h3>02</h3>
				<span class="number-title">飢饉の対策</span>
				<span class="number-title_english">Countermeasures against famine</span>
				<div class="sentence">
					夢の中でファラオは川べりに立っていた。すると7頭の牛が水から上がってきて、草を食べはじめた。次に、7頭の痩せた牛が自ら上がってきた。痩せた牛は、太った牛をみんな食べてしまった。<br>
					ヨセフはこの夢の内容を聞くと、7年間の豊作の後、7年間の不作がやってくるだろうと告げた。そしてエジプトの民を守るため、誰か思慮深い者に毎年撮れた作物の5分の1を預けるように提案した。そえrを保存しておけば、7年間の不作がきても、たみに食べ物を分け与えられる。ファラオはこの提案を採用し、ヨセフをエジプトの高官に任命した。寄せるは上手に食料を蓄えたので、7年間のひどい不作のあいだも、エジプトや近隣の民が飢えることはなかった。
				</div>
			</div>
		</div>
		<div class="col-xs-12">
			<div class="col-sm-6 study-item">
				<h3>03</h3>
				<span class="number-title">あらかじめ備える</span>
				<span class="number-title_english">Prepare in advance</span>
				<div class="sentence">
					この話のポイントは、バッファをとることの大切さだ。
					私たちは、予測不可能な世界に住んでいる。さすがに飢饉はないかもしれないが、不測の事態はいつでも起こる。<br>
					確実に言えるのは、世の中に確実なことなどないと言うことだけだ。
					だから、何が起こってもあわてないように、あらかじめ備えておいた方がいい。
					つねにバッファをとっておくのだ。
				</div>
			</div>
		</div>
	</div>
	<div class="col-xs-offset-1 col-xs-11 border-line"></div>
</div>


<div class="row">
	<div class="col-xs-offset-1 col-xs-11 explanation-box">
		<div class="ex-title">〜　徹底的に準備する　〜</div>
		<div class="">
			<div class="col-xs-7 margin_style-2 chapterText ex-textBox ex-right">
				<div class="ex-text">
					<span class="ex-textLarge">バッファ（緩衝）</span>とは、2つのものがぶつからないようにするためのものを言う。
					たとえば、環境用語でバッファ・ゾーンといえば、保護地域を公害や汚染から守るために外の世界とのあいだに設けられた緩衝地帯のことだ。バッファを持たせることで、周囲の悪影響が届かないように設計されている。
				</div>
			</div>
			<div class="col-xs-offset-5 col-xs-7 margin_style-2 ex-textBox ex-left">
				<div class="ex-text margin_style-1">
					<span class="ex-textLarge">非エッセンシャル思考</span>の人は、条件に恵まれたケースを前提として予定を立てようとする。
					希望的観測に従って生きているのだ。
					「5分もあれば着くだろう」「この作業なら金曜日までに行けるんじゃないかな」「本気を出せば半年で完成するぞ」
				</div>
				<div class="ex-text margin_style-1">
					<span class="ex-textLarge">しかし、</span>
					ものごとはけっして思うようには進まない。思わぬトラブルに見舞われたり、予定より作業範囲が広かったり、そもそも見積もりが甘すぎたり。あわてて対応するが、スケジュールはどんどん遅れていく。結局、徹夜したあげくに完成度の低いものを提出するか、あるいは締め切りに遅れるか、それとも誰かに後始末を押し付けるか。いずれにしても思ったような結果は出せない。
				</div>
				<div class="ex-text">
					<span class="ex-textLarge">
					エッセンシャル思考</span>
					の人は、思わぬことは起こるものだと知っているから、あらかじめ何かが起こることを想定して予定を立てる。万が一に備えてバッファをとり、予定外のことがあってもペースを取り戻せるようにしておく。
				</div>
			</div>
			<div class="col-xs-7 margin_style-2 chapterText ex-textBox ex-right">
				<div class="ex-text margin_style-1">
					<span class="ex-textLarge">私たちの生きる世の中</span>は、どんどん余裕がなくなっている。
					車間距離を5センチしかとらずに時速100キロで疾走しているようなものだ。
					前の車が少しでも速度を緩めたら、たちまち大きな事故になる。一瞬のミスも許されない。
				</div>
				<div class="ex-text margin_style-1">
					<span class="ex-textLarge">そのため、</span>何をするにもストレスがかかり、つねに追いつめられている感じがする。
					そんな危険な状況を抜け出して、人間らしい余裕を取り戻すために、バッファをつくる必要がある。
				</div>
				<div class="ex-text">
					<span class="ex-textLarge">
					エッセンシャル思考</span>
					の人は、すべてが思い通りにはいかないことを知っている。
					未来が予測不可能であるという現実を受け入れている。
					だから、不測の事態が引き起こすイメージをできるだけ緩和するために、あらかじめバッファを計画に組み込んでおくのだ。
				</div>
			</div>
		</div>
	</div>
	<div class="col-xs-offset-1 col-xs-11 border-line"></div>
</div>


<%= render partial: 'memo-area' %>

<% if user_signed_in? %>
	<div class="row">
		<div class="col-xs-1" id="memoBtn">
			<div class="toggle-btn">
				<input type="checkbox" class="cb-value" />
				<span class="round-btn"></span>
			</div>
		</div>
		<%= render partial: 'memo-btn', locals: {memo: @memo, chapter_num: 15} %>
	</div>
<% end %>


<!-- <div class="row">
	<div class="col-lg-offset-1 col-lg-5">
		<div class="row">
			<div class="col-lg-offset-1 col-lg-10 non_essential-contents">
				<h2>非エッセンシャル思考</h2>
				<p class="learn-contents">
					・条件に恵まれたケーズを前提として予定を立てる
				</p>
				<p class="learn-contents">
					・お金をパーっと消費してしまう
				</p>
				<p class="learn-contents">
					・土壇場にならないと頑張らない
				</p>
			</div>
		</div>
	</div>
	<div class="col-lg-5">
		<div class="row">
			<div class="col-lg-offset-1 col-lg-10 essential-contents">
				<h2>エッセンシャル思考</h2>
				<p class="learn-contents">
					・最悪の事態を想定して予定を立てる
				</p>
				<p class="learn-contents">
					・お金はいざと言うときの備えて貯蓄する
				</p>
				<p class="learn-contents">
					・準備と計画に全力を注ぐ
				</p>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-lg-offset-1 col-lg-5">
		<div class="row">
			<div class="col-lg-offset-1 col-lg-10 non_essential-memo">
				<div>非エッセンシャル思考メモ蘭<br>
					（自身の経験など振り返り思ったことなど、何でも残しておけます）
				</div>
			</div>
		</div>
	</div>
	<div class="col-lg-5">
		<div class="row">
			<div class="col-lg-offset-1 col-lg-10 essential-memo">
				<div>エッセンシャル思考メモ蘭<br>
					（自身の経験など振り返り思ったことなど、何でも残しておけます）
				</div>
			</div>
		</div>
	</div>
</div> -->

<div class="row">
	<div class="col-xs-offset-1 col-xs-11 nav-bar">
		<div>
			<%= link_to "前章", "/learns/chapter14", class:"btn btn-default col-xs-2" %>
		</div>
		<div>
			<%= link_to "一覧", "/learns", class:"btn btn-default col-xs-offset-3 col-xs-2" %>
		</div>
		<div>
			<%= link_to "次章", "/learns/chapter16", class:"btn btn-default col-xs-offset-3 col-xs-2" %>
		</div>
	</div>
</div>