<div class="row space_top">
	<div class="col-xs-offset-1 col-xs-11">
		<div class="col-xs-12 chapter-headline">
			<span class="chapter-number">第14章</span>
			<span class="chapter-title">Part3 線引き</span>
			<div class="point">
				境界線を決めると自由になれる。
			</div>
		</div>
		<div class="col-xs-12 quotations">
			「No」は完成された文章である。<br>
			アン・ラモット(作家)
		</div>
	</div>
</div>

<div class="row">
	<div class="col-xs-11 col-xs-offset-1 case-study-box">
		<div class="study-title">〜　ジン・ユンの事例　〜</div>
		<div class="col-xs-12">
			<div class="col-sm-6 study-item">
				<h3>01</h3>
				<span class="number-title">結婚式前</span>
				<span class="number-title_english">Before the wedding</span>
				<div class="sentence">
					韓国のIT企業に勤めるジン・ユンは、結婚を間近に控えていた。だが結婚式の2週間前に行われる取締役会の資料づくりを任されていたので、ゆっくり式の計画を立てる余裕もなかった。なんとか早めに終わらせようと、彼女は大量の資料やスライドを必死で作成した。1日15時間も働いたおかげで、締め切りよりも早く資料を完成させることができた。これで取締役会までの5日間は、結婚式の準備に当てられる。
				</div>
			</div>
			<div class="col-sm-6 study-item">
				<h3>02</h3>
				<span class="number-title">増える仕事</span>
				<span class="number-title_english">More work</span>
				<div class="sentence">
					ところが、そんな彼女に上司から電話がかかってきた。取締役会に先立って、緊急で対応しなければならないプロジェクトがあると言う。今の上司のもとで数年間働いてきたが、ジン・ユンは一度もノーと言ったことがなかった。たとえ地獄のようなスケジュールでも、従順に仕事を引き受けてきた。自分の時間をどれほど犠牲にしても、言われた仕事は完璧にこなしてきた。
				</div>
			</div>
		</div>
		<div class="col-xs-12">
			<div class="col-sm-6 study-item">
				<h3>03</h3>
				<span class="number-title">出来ません</span>
				<span class="number-title_english">Can not do</span>
				<div class="sentence">
						だが今回に限っては、そうするわけにはいかなかった。「出来ません」と彼女は言った。謝罪も言い訳もしなかった。「時間を作るために、必死で仕事を終わらせました。この5日間くらいは、自由に使ってもいいはずです」と。<br>
					それから、おもしろいことが起きた。チームの全員がその仕事を断り、上司が自分でやることになったのだ。はじめのうち、上司はかなり頭にきているようだった。他の仕事もあるのに、1週間丸々そのプロジェクトに費やさなくてはならないからだ。
				</div>
			</div>
			<div class="col-sm-6 study-item">
				<h3>04</h3>
				<span class="number-title">上司の変化</span>
				<span class="number-title_english">Change of boss</span>
				<div class="sentence">
					だがそのうちに、上司も自分のやり方の欠点に気づき始めた。厳しく要求するだけでは、人を動かすことは出来ない。少しペースをゆるめた上で、こちらの求める成果や責任について各メンバーに理解してもらう必要がある。<br>
					結果的に、上司はジン・ユンの勇気ある「ノー」に感謝することになった。「これ以上はできない」という線を引いてくれたおかげで、無理なやり方に気づくことができた。ジン・ユンはノーと言うことで、上司の感謝と敬意を勝ち取ったのだ。
				</div>
			</div>
		</div>
	</div>
	<div class="col-xs-offset-1 col-xs-11 border-line"></div>
</div>


<div class="row">
	<div class="col-xs-offset-1 col-xs-11 explanation-box">
		<div class="ex-title">〜　面倒な人と一線を画す　〜</div>
		<div class="">
			<div class="col-xs-7 margin_style-2 chapterText ex-textBox ex-right">
				<div class="ex-text margin_style-1">
					<span class="ex-textLarge">現代</span>は、仕事とプライベートの線引きが難しい時代である。
					通信手段が進化したおかげで、いつでもどこでも仕事をすることが可能になった。
					24時間連絡がつくのが当たり前になり、休日にも対応を迫られることが珍しくない。
				</div>
				<div class="ex-text">
					<span class="ex-textLarge">しかし、</span>単に境界が薄れているだけではない。
					仕事は一方的にプライベートを侵食しようとしている。
					もしも月曜日の朝に子供たちを連れて会社に遊びにきたら、おかしな気がするはずだ。
					それなのに土日に家や会社で仕事をすることは、ごく自然な行動のように思われている。
				</div>
			</div>
			<div class="col-xs-offset-5 col-xs-7 margin_style-2 ex-textBox ex-left">
				<div class="ex-text">
					<span class="ex-textLarge">境界線を引く</span>
					のは簡単ではない。
					出世の妨げになるかもしれないし、最悪仕事を失うことも考えられる。
					自分の領域を守るには、ときに大きな代価が必要だ。
					だからといって、境界線を放棄してしまったら、もっと大きな代償を払うことになる。
					人生で最も大事なものを選べなくなるからだ。
					自分で線を引かなければ、自分の領域は守れない。
					あるいは誰かが勝手に、もっとも望ましくない形で線を引いてしまうかもしれない。
				</div>
			</div>
			<div class="col-xs-7 margin_style-2 chapterText ex-textBox ex-right">
				<div class="ex-text margin_style-1">
					<span class="ex-textLarge">非エッセンシャル思考</span>の人は、線を引くのがあまり好きでないようだ。
					境界線などなくしたほうが、バリバリ仕事ができると思っている。
					「自分には限界なんてない。何だってこなせるし、全部片付けてやる」
					だが、それは思い上がりである。
					あまりに無理をしていると、忙しすぎて何ひとつまともに完成させられなくなってしまう。
				</div>
				<div class="ex-text">
					<span class="ex-textLarge">
					エッセンシャル思考</span>
					の人は、境界線を上手に利用する。
					一線を引くことで自分の時間を守り、他人からのよけいな干渉を防ぐのだ。
				</div>
			</div>
			<div class="col-xs-offset-5 col-xs-7 margin_style-2 ex-textBox ex-left">
				<div class="ex-text">
					<span class="ex-textLarge">はっきりとした線引き</span>がなければ、他人はどこまで踏み込んでいいかわからず、どんどん侵食してくる。
					いちいち対応していたら、自分の大切なものが見えなくなってしまう。
				</div>
			</div>
		</div>
	</div>
	<div class="col-xs-offset-1 col-xs-11 border-line"></div>
</div>


<%= render partial: 'memo-area' %>

<% if user_signed_in? %>
	<div class="row">
		<div class="col-xs-1" id="memoBtn">
			<div class="toggle-btn">
				<input type="checkbox" class="cb-value" />
				<span class="round-btn"></span>
			</div>
		</div>
		<%= render partial: 'memo-btn', locals: {memo: @memo, chapter_num: 14} %>
	</div>
<% end %>




<!-- <div class="row">
	<div class="col-lg-offset-1 col-lg-5">
		<div class="row">
			<div class="col-lg-offset-1 col-lg-10 non_essential-contents">
				<h2>非エッセンシャル思考</h2>
				<p class="learn-contents">
					・境界線は自分の力を制限するものだ
				</p>
				<p class="learn-contents">
					・境界線は窮屈だ
				</p>
				<p class="learn-contents">
					・毎回ノーを言うのに苦労する
				</p>
			</div>
		</div>
	</div>
	<div class="col-lg-5">
		<div class="row">
			<div class="col-lg-offset-1 col-lg-10 essential-contents">
				<h2>エッセンシャル思考</h2>
				<p class="learn-contents">
					・境界線を引くことで本当の力が発揮できる
				</p>
				<p class="learn-contents">
					・境界線は自由を生む
				</p>
				<p class="learn-contents">
					・ノーと言わなくてもいいように、あらかじめルールを設定する
				</p>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-lg-offset-1 col-lg-5">
		<div class="row">
			<div class="col-lg-offset-1 col-lg-10 non_essential-memo">
				<div>非エッセンシャル思考メモ蘭<br>
					（自身の経験など振り返り思ったことなど、何でも残しておけます）
				</div>
			</div>
		</div>
	</div>
	<div class="col-lg-5">
		<div class="row">
			<div class="col-lg-offset-1 col-lg-10 essential-memo">
				<div>エッセンシャル思考メモ蘭<br>
					（自身の経験など振り返り思ったことなど、何でも残しておけます）
				</div>
			</div>
		</div>
	</div>
</div> -->

<div class="row">
	<div class="col-xs-offset-1 col-xs-11 nav-bottom">
		<div>
			<%= link_to "前章", "/learns/chapter13", class:"btn btn-default col-xs-2" %>
		</div>
		<div>
			<%= link_to "一覧", "/learns", class:"btn btn-default col-xs-offset-3 col-xs-2" %>
		</div>
		<div>
			<%= link_to "次章", "/learns/chapter15", class:"btn btn-default col-xs-offset-3 col-xs-2" %>
		</div>
	</div>
</div>