<div class="row space_top">
	<div class="col-xs-offset-1 col-xs-11">
		<div class="col-xs-12 chapter-headline">
			<span class="chapter-number">第6章</span>
			<span class="chapter-title">Part2 洞察</span>
			<div class="point">
				情報の本質を掴み取る。
			</div>
		</div>
		<div class="col-xs-12 quotations">
			情報のなかで知はどこへ失われた？<br>
			-トーマス・スターンズ・エリオット(文藝評論家)-
		</div>
	</div>
</div>

<div class="row">
	<div class="col-xs-11 col-xs-offset-1 case-study-box">
		<div class="study-title">〜　ノーラ・エフロンの事例　〜</div>
		<div class="col-xs-12">
			<div class="col-sm-6 study-item">
				<h3>01</h3>
				<span class="number-title">最初の授業</span>
				<span class="number-title_english">First class</span>
				<div class="sentence">
					『めぐり逢えたら』や『恋人たちの予感』で知られる脚本家、ノーラ・エフロン。
					彼女が脚本家として成功したのは、物語の本質をつかむ力によるところが大きい。ジャーナリストのキャリアで磨かれたスキルだ。
					だが彼女にもっとも多くを教えたのは、さらにそれ以前の高校時代の授業だった。<br>
					高校のジャーナリズム入門の最初の授業の内容は、リードパラグラフ（導入部）の書き方。記事の要旨を簡潔にまとめることが大事だと先生がいう。
					いつ、誰が、何を、なぜ、どうしたのか。最初の数行で、情報の本質を伝えなくてはならない。
				</div>
			</div>
			<div class="col-sm-6 study-item">
				<h3>02</h3>
				<span class="number-title">要約課題</span>
				<span class="number-title_english">Summary task</span>
					<div class="sentence">先生は話の要約を書くという課題を与え、次のようなストーリーを読み上げた。
					「ビバリーヒルズ高校のピーターズ校長は今朝、職員一同に研修旅行のお知らせを告げた。来週木曜、職員全員でサクラメント行き、新たな教育メソッドに関する会議に参加する。当日は人類学者のマーガレット・ミッドや教育学者のロバート・M・ハッチング、カリフォルニア州知事のパット・ブラウンによる公演も予定されている」。
					生徒たちはタイプライターに向かい、一斉に要約を書き始めた。先生は生徒たちの要約に目を通してから教卓に立ち、「どれも駄目だ」と首を振った。
					それから、正しい要約は「来週木曜日は学校が休みだ」と言った。それを聴いた瞬間、エフロンはジャーナリズムの本質を理解した。
				</div>
			</div>
		</div>
		<div class="col-xs-12">
			<div class="col-sm-6 study-item">
				<h3>03</h3>
				<span class="number-title">本質を見抜く</span>
				<span class="number-title_english">See through the essence</span>
				<div class="sentence">
					「ジャーナリズムとは、単に事実を繰り返すことではなく、確信を見抜くことだと気づいた。いつ誰が何をしたか、それだけでは足りません。それがどういう意味を持ち、なぜ重要なのかを理解しなくてはならないんです。」<br>
					あらゆる事実には、本質が隠されている。すぐれたジャーナリストは、情報の断片を調べ、それらの関係性を発見する。
					部分の集まりから全体像をつくりあげ、人々に通じる意味を付与する仕事だ。
					単に情報を受け渡すだけなら、誰にでもできる。ジャーナリストの存在意義は、そこに本質的な意味を見出すところにあるのだ。
				</div>
			</div>
		</div>
	</div>
	<div class="col-xs-offset-1 col-xs-11 border-line"></div>
</div>


<div class="row">
	<div class="col-xs-offset-1 col-xs-11 explanation-box">
		<div class="ex-title">〜　大局を見失う　〜</div>
		<div class="">
			<div class="col-xs-7 margin_style-2 chapterText ex-textBox ex-right">
				<div class="ex-text">
					<span class="ex-textLarge">話を聞いて</span>いて、ポイントを見失うことはないだろうか？
					情報量に圧倒され、何をどうすればいいかわからなくなることは？
					依頼が次々と積み上がり、何からやろうかと途方に暮れることは？
					重要なことをやり忘れていて、あとになってあおくなったことはないだろうか？
					ひとつでも思い当たることがあるなら、エッセンシャル思考のスキルが役に立つはずだ。
				</div>
			</div>
			<div class="col-xs-offset-5 col-xs-7 margin_style-2 ex-textBox ex-left">
				<div class="ex-text">
					<span class="ex-textLarge">些細なこと</span>に気をとられすぎていると、大局を見失う。仕事や生き方でも同じだ。
					何をする時にも、優れたジャーナリストのように、本質を見抜く目を持たなくてはならない。
					要点に目を向ける訓練をすると、これまで見えなかったものが見えてくる。
					点の集まりではなく、点同士をつなげると線に気づくことができる。
					単なる事実に反応する代わりに、その本当の意味を見抜くことが可能になる。
				</div>
			</div>
			<div class="col-xs-7 margin_style-2 chapterText ex-textBox ex-right">
				<div class="ex-text">
					<span class="ex-textLarge">日々出会う情報</span>はあまりに膨大で、とてもすべてを調べることはできない。
					吟味すべき情報を見分けるためには、どんどん飛び込んでくる情報や選択肢をフィルタリングするしくみが必要だ。
				</div>
			</div>
			<div class="col-xs-offset-5 col-xs-7 margin_style-2 ex-textBox ex-left">
				<div class="ex-text margin_style-1">
					<span class="ex-textLarge">エッセンシャル思考の人</span>は、目と耳が良い。
					全てに注意を向けることが不可能だと知っているので、話の空白を聞き、行間を読む。無関係な細部に気をとられず、その意味を正確にとらえる。
				</div>
				<div class="ex-text">
					<span class="ex-textLarge">非エッセンシャル思考の人</span>は、耳を傾けて入るけれど、いつも何かをいう準備をしている。
					無関係な細部に気を取られ、瑣末な情報にこだわってしまう。
					声の大きい意見は聞こえるが、その意味を取り違える。
					自分がコメントすることばかり考えていて、話の本質が掴めない。
					その結果、彼らは大筋を見失う。
				</div>
			</div>
		</div>
	</div>
	<div class="col-xs-offset-1 col-xs-11 border-line"></div>
</div>


<%= render partial: 'memo-area' %>

<% if user_signed_in? %>
	<div class="row">
		<div class="col-xs-1" id="memoBtn">
			<div class="toggle-btn">
				<input type="checkbox" class="cb-value" />
				<span class="round-btn"></span>
			</div>
		</div>
		<%= render partial: 'memo-btn', locals: {memo: @memo, chapter_num: 6} %>
	</div>
<% end %>

<!-- <div class="row">
	<div class="col-lg-offset-1 col-lg-5">
		<div class="row">
			<div class="col-lg-offset-1 col-lg-10 non_essential-contents">
				<h2>非エッセンシャル思考</h2>
				<p class="learn-contents">
					・声の大きい意見に反応する
				</p>
				<p class="learn-contents">
					・話の全てを聞こうとする
				</p>
				<p class="learn-contents">
					・情報の渦に呑み込まれる
				</p>
			</div>
		</div>
	</div>
	<div class="col-lg-5">
		<div class="row">
			<div class="col-lg-offset-1 col-lg-10 essential-contents">
				<h2>エッセンシャル思考</h2>
				<p class="learn-contents">
					・ノイズの中のシグナルを探す
				</p>
				<p class="learn-contents">
					・語られないことに耳を傾ける
				</p>
				<p class="learn-contents">
					・情報の本質を掴み取る
				</p>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-lg-offset-1 col-lg-5">
		<div class="row">
			<div class="col-lg-offset-1 col-lg-10 non_essential-memo">
				<div>非エッセンシャル思考メモ蘭<br>
					（自身の経験など振り返り思ったことなど、何でも残しておけます）
				</div>
			</div>
		</div>
	</div>
	<div class="col-lg-5">
		<div class="row">
			<div class="col-lg-offset-1 col-lg-10 essential-memo">
				<div>エッセンシャル思考メモ蘭<br>
					（自身の経験など振り返り思ったことなど、何でも残しておけます）
				</div>
			</div>
		</div>
	</div>
</div> -->

<div class="row">
	<div class="col-xs-offset-1 col-xs-11 nav-bar">
		<div>
			<%= link_to "前章", "/learns/chapter5", class:"btn btn-default col-xs-2" %>
		</div>
		<div>
			<%= link_to "一覧", "/learns", class:"btn btn-default col-xs-offset-3 col-xs-2" %>
		</div>
		<div>
			<%= link_to "次章", "/learns/chapter7", class:"btn btn-default col-xs-offset-3 col-xs-2" %>
		</div>
	</div>
</div>