<div class="row space_top">
	<div class="col-xs-offset-1 col-xs-11">
		<div class="col-xs-12 chapter-headline">
			<span class="chapter-number">第8章</span>
			<span class="chapter-title">Part2 睡眠</span>
			<div class="point">
				1時間の眠りが<br>数時間分の成果を生む。
			</div>
		</div>
		<div class="col-xs-12 quotations">
			毎晩眠りにつくたびに、私は死ぬ。<br>
			翌朝目を覚ますとき、私は生まれ変わる。<br>
			マハトマ・ガンジー
		</div>
	</div>
</div>

<div class="row">
	<div class="col-xs-11 col-xs-offset-1 case-study-box">
		<div class="study-title">〜　ジェフの事例　〜</div>
		<div class="col-xs-12">
			<div class="col-sm-6 study-item">
				<h3>01</h3>
				<span class="number-title">忙しすぎる仕事</span>
				<span class="number-title_english">Too busy work</span>
				<div class="sentence">
					ジェフはバイタリティあふれるビジネスマンだった。上昇志向が強く、世界に大きく貢献したいと思っていた。彼がCEOを務める国際的マイクロファイナンス会社は、世界中で1200万人以上の貧しい人々に融資をおこない、成功のチャンスを与えてきた。<br>
					を占めていた。おかげで慢性的な睡眠不足だった。6時間眠れたら御の字だ。
				</div>
			</div>
			<div class="col-sm-6 study-item">
				<h3>02</h3>
				<span class="number-title">代償</span>
				<span class="number-title_english">Compensation</span>
				<div class="sentence">
					ところが仕事の忙しさが度を越して、体がおかしくなってきた。頭の中で何かが爆発したような感覚があった。激しい動悸がして、嫌な汗が流れた。この発作は悪くなる一方だった。内臓が一つひとつ壊れていった。心拍は不規則になり、立っているだけで苦痛を感じた。　<br>
					「次の仕事がお終わったら休もう」と言いながら、いつまでも休めずにいた。事態の深刻さを直視せず、そのうちなんとかなると自分に言い聞かせていた。だが、現実は容赦無くジェフを蝕んだ。体調のせいで会議をキャンセルすることが多くなり、スピーチに立ってもまともに話ができなかった。
				</div>
			</div>
		</div>
		<div class="col-xs-12">
			<div class="col-sm-6 study-item">
				<h3>03</h3>
				<span class="number-title">遊びの影響</span>
				<span class="number-title_english">Two months vacation</span>
				<div class="sentence">
					ジェフは病院へ行った。医者は選択を迫った。このまま一生薬に頼って暮らすか、1〜2年の間あらゆる仕事を離れて静養するかだ。だがジェフは医者の言うことを真に受けなかった。2ヶ月も休めばすっかり回復するはずだ、と考えた。<br>
					ジェフは2ヶ月の休暇をとった。自分で思った以上に疲れていたようだった。1日に14時間眠るようになり、やがて1日中ベッドで過ごすことが多くなった。何一つできないまま2ヶ月が経った。やがて這うようにして医者を訪れたジェフは、すぐには回復できそうにないという事実をようやく認めた。
				</div>
			</div>
			<div class="col-sm-6 study-item">
				<h3>04</h3>
				<span class="number-title">犠牲から得た教訓</span>
				<span class="number-title_english">Lessons learned from sacrifice</span>
				<div class="sentence">
					ジェフはストレスのもとをすべて取り除くことにした。全ての仕事をキャンセルし、自分の会社も辞めた。「仕事を離れるのは、厳しい決断でした。会議室を出るときには、涙がこらえきれませんでした。私は仕事をこんなふうに手放すはずじゃなかった」。<br>
					医者の助言に従い、回復のことだけを考えて暮らし始めた。食生活を改善し、家族を連れて南フランスに転居した。快適な気候と健全な生活のおかげで、体は確実に回復してきた。2年半後、ジェフは世界経済フォーラム主催のイベントに参加した。290人の世界的な成功者を前にして、彼は込み上げるものを感じながら、大きな犠牲を払って手に入れたシンプルな教訓を語った。「自分の資産を、守ってください」。
				</div>
			</div>
		</div>
	</div>
	<div class="col-xs-offset-1 col-xs-11 border-line"></div>
</div>


<div class="row">
	<div class="col-xs-offset-1 col-xs-11 explanation-box">
		<div class="ex-title">〜　睡眠を軽視する　〜</div>
		<div class="">
			<div class="col-xs-7 margin_style-2 chapterText ex-textBox ex-right">
				<div class="ex-text margin_style-1">
					<span class="ex-textLarge">私たちの最大の資産</span>は、自分自身だ。
					自分への投資を怠り、心と体をないがしろにすると、価値を見出すための元手がなくなってしまう。
					自分という資産を守らなければ、世の中のために働くこともできないのだ。
					ところが現実には、優秀な人たちがどんどん自分を壊している。
					その最大の原因は、睡眠不足だ。
				</div>
				<div class="ex-text">
					<span class="ex-textLarge">ジェフのように</span>休むことを知らず、常にエネルギッシュに活動している人は
					やがて負荷にたえかねて壊れてしまう。
					だから、体をでたらめに酷使するのでなく、戦略的に使うことを考えなくてはならない。
				</div>
			</div>
			<div class="col-xs-offset-5 col-xs-7 margin_style-2 ex-textBox ex-left">
				<div class="ex-text margin_style-1">
					<span class="ex-textLarge">非エッセンシャル思考の人</span>は、睡眠を一種の義務のように考えている。
					ただでさえ忙しい中で、さらに時間を食いつぶす足手まといだと思っている。
				</div>
				<div class="ex-text">
					<span class="ex-textLarge">エッセンシャル思考の人</span>は、睡眠を武器だと考え、
					自分の力を引き出すために活用している。
					計画的に十分な睡眠をとることで、仕事の質を最大限に高めている。
					あとで最高の成果を出すために、
					目の前の些末な仕事を切り捨てる。トレードオフを意識しているのだ。
					この小さな駆け引きが、やがて大きな圧倒的な利益となって返ってくる。
				</div>
			</div>
			<div class="col-xs-7 margin_style-2 chapterText ex-textBox ex-right">
				<div class="ex-text">
					<span class="ex-textLarge">なぜ人は</span>、貴重な睡眠を削ろうとするのだろうか？
					睡眠を削ればもっと働ける、と考えているからかもしれない。
					しかし睡眠には、体を休めるだけでなく、脳をリフレッシュさせる役目がある。
					さらに、十分な睡眠は脳の機能を高め、問題解決能力をアップさせるという研究結果も出ている。<br>
					レム睡眠が一度でもあれば、脳はバラバラな情報を統合することができる。
					たとえ短時間の眠りでも、世界をより深く洞察できるようになるということだ。
				</div>
			</div>
			<div class="col-xs-offset-5 col-xs-7 margin_style-2 ex-textBox ex-left">
				<div class="ex-text margin_style-1">
					<span class="ex-textLarge">現代人の最優先課題</span>
					は、優先順位づけの能力をキープすることだ。
					多数のどうでもいい（あるいは普通に良い）選択肢のなかから、本当に重要なことを見分けるためには、優先順位をつけることが不可欠だ。
				</div>
				<div class="ex-text">
					<span class="ex-textLarge">数多くのチャンス</span>
					は、どれも同じくらい魅力的に見えるかもしれない。
					だが、本当に重要なことはめったない。ほとんどはただのゴミだ。
					睡眠不足で困るのは、そこを見極める能力が落ちて、優先順位がつけられなくなるからだ。
					たっぷり眠ろう。そうすれば洞察力が高まり、発想が広がり、より少ない時間でより良い成果を上げることができる。
				</div>
			</div>
		</div>
	</div>
	<div class="col-xs-offset-1 col-xs-11 border-line"></div>
</div>


<%= render partial: 'memo-area' %>

<% if user_signed_in? %>
	<div class="row">
		<div class="col-xs-1" id="memoBtn">
			<div class="toggle-btn">
				<input type="checkbox" class="cb-value" />
				<span class="round-btn"></span>
			</div>
		</div>
		<%= render partial: 'memo-btn', locals: {memo: @memo, chapter_num: 8} %>
	</div>
<% end %>


<!-- <div class="row">
	<div class="col-lg-offset-1 col-lg-5">
		<div class="row">
			<div class="col-lg-offset-1 col-lg-10 non_essential-contents">
				<h2>非エッセンシャル思考</h2>
				<p class="learn-contents">
					・もう1時間睡眠時間を削れば、もう1時間仕事ができる
				</p>
				<p class="learn-contents">
					・眠るのは根性なしだ
				</p>
				<p class="learn-contents">
					・眠ると怠け者になる
				</p>
				<p class="learn-contents">
					・睡眠のせいで仕事量が減る
				</p>
			</div>
		</div>
	</div>
	<div class="col-lg-5">
		<div class="row">
			<div class="col-lg-offset-1 col-lg-10 essential-contents">
				<h2>エッセンシャル思考</h2>
				<p class="learn-contents">
					・もう1時間眠れば、数時間分の生産性が手に入る
				</p>
				<p class="learn-contents">
					・優秀な人はよく眠る
				</p>
				<p class="learn-contents">
					・眠ると創造的になる
				</p>
				<p class="learn-contents">
					・睡眠は仕事の効率を高めてくれる
				</p>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-lg-offset-1 col-lg-5">
		<div class="row">
			<div class="col-lg-offset-1 col-lg-10 non_essential-memo">
				<div>非エッセンシャル思考メモ蘭<br>
					（自身の経験など振り返り思ったことなど、何でも残しておけます）
				</div>
			</div>
		</div>
	</div>
	<div class="col-lg-5">
		<div class="row">
			<div class="col-lg-offset-1 col-lg-10 essential-memo">
				<div>エッセンシャル思考メモ蘭<br>
					（自身の経験など振り返り思ったことなど、何でも残しておけます）
				</div>
			</div>
		</div>
	</div>
</div> -->

<div class="row">
	<div class="col-xs-offset-1 col-xs-11 nav-bar">
		<div>
			<%= link_to "前章", "/learns/chapter7", class:"btn btn-default col-xs-2" %>
		</div>
		<div>
			<%= link_to "一覧", "/learns", class:"btn btn-default col-xs-offset-3 col-xs-2" %>
		</div>
		<div>
			<%= link_to "次章", "/learns/chapter9", class:"btn btn-default col-xs-offset-3 col-xs-2" %>
		</div>
	</div>
</div>