<div class="row space_top chapterText">
	<div class="col-xs-offset-1 col-xs-11">
		<div class="col-xs-12 chapter-headline">
			<span class="chapter-number">第17章</span>
			<span class="chapter-title">Part4 前進</span>
			<div class="point">
				小さな一歩を積み重ねる。
			</div>
		</div>
		<div class="col-xs-12 quotations">
			毎日1センチずつでいいから、より良い未来に近くことをやろう。<br>
			ダグ・ファイアボー
		</div>
	</div>
</div>

<div class="row">
	<div class="col-xs-11 col-xs-offset-1 case-study-box">
		<div class="study-title">〜　リッチモンド市の警察の事例　〜</div>
		<div class="col-xs-12">
			<div class="col-sm-6 study-item">
				<h3>01</h3>
				<span class="number-title">常識的取り組み</span>
				<span class="number-title_english">Common sense efforts</span>
				<div class="sentence">
					犯罪率を下げたい時、普通は罰を与えることを考える。法律を厳しくしたり、刑を重くしたり、犯罪撲滅の運動を立ち上げたりする。これらは要するに、これまでやってきたことをより厳しくやろうという発想である。<br>
					しかし、カナダのリッチモンド市の警察は、この常識を見事に覆した。
				</div>
			</div>
			<div class="col-sm-6 study-item">
				<h3>02</h3>
				<span class="number-title">受け身への疑問</span>
				<span class="number-title_english">Questions about passiveness</span>
				<div class="sentence">
					ウォード・クラッパムという若く先進的な人物が新しく署長に就任し、それまでのやり方に疑問を投げかけた。なぜわれわれは、犯罪が起こるまで待たなくてはならないのか？なぜそんなに受け身なのか？トニー・ブレア元首相の言葉を借りるなら、「犯罪だけでなく、犯罪の原因にも断固立ち向かう」べきだと考えたのだ。
				</div>
			</div>
		</div>
		<div class="col-xs-12">
			<div class="col-sm-6 study-item">
				<h3>03</h3>
				<span class="number-title">善行を褒める</span>
				<span class="number-title_english">Compliment good deedse</span>
				<div class="sentence">
					クラッパムはこの疑問から出発し、ポジティブ・チケットという新たな試みを考え出した。悪事にばかり注目せず、いい行動に注目しようというアイデアだ。例えば、ゴミを投げ捨てずにゴミ箱に捨てる。バイクに乗るときにヘルメットを被る。そんなささやかな善行に対して、ポジティブな切符を切ることにした。<br>
					ポジティブ・チケットは、罰金をとるためのものではない。逆に、映画館やコミュニティーセンターに無料で入場できるという引換券の役目を持たせることにした。
				</div>
			</div>
			<div class="col-sm-6 study-item">
				<h3>04</h3>
				<span class="number-title">犯罪率の減少</span>
				<span class="number-title_english">Decrease in crime rate</span>
				<div class="sentence">
					リッチモンド署の型破りな試みは、予想以上の成功を収めた。最初はなかなか効が出ないかと思われたが、長期的な戦略として投資を続け、10年後には青少年の再犯罪率が60％から8％に激減した。クラッパムの考案したポジティブ・チケットは、まさにやることを減らして成果を増やすエッセンシャル思考の成功例だ。
				</div>
			</div>
		</div>
	</div>
	<div class="col-xs-offset-1 col-xs-11 border-line"></div>
</div>


<div class="row">
	<div class="col-xs-offset-1 col-xs-11 explanation-box">
		<div class="ex-title">〜　「最小限の進歩」を重ねる〜</div>
		<div class="">
			<div class="col-xs-7 margin_style-2 chapterText ex-textBox ex-right">
				<div class="ex-text margin_style-1">
					<span class="ex-textLarge">非エッセンシャル思考</span>の人は、何でも頑張ろうとしすぎる嫌いがある。
					多くを求めて努力すれば、それだけ結果がついてくると思っている。
					しかし残念ながら、それは違いだ。
					現実には、欲張れば欲張るほど、動きが鈍くなってしまう。
				</div>
				<div class="ex-text">
					<span class="ex-textLarge">エッセンシャル思考</span>の人は、もっと現実的だ。
					何でもいっぺんいやろうとせず、小さな成功を積み重ねる。
					見た目だけ派手なプレイに酔いしれるのではなく、本当に大切なところで着実に点をとりに行くのだ。
				</div>
			</div>
			<div class="col-xs-offset-5 col-xs-7 margin_style-2 ex-textBox ex-left">
				<div class="ex-text margin_style-1">
					<span class="ex-textLarge">心理学の研究</span>によると、人間のモチベーションに対してもっとも効果的なのは「前に進んでいる」という感覚である。
					小さくても前進をしているという手応えがあれば、未来の成功を信じられる。そのまま進み続けようという力になる。
				</div>
				<div class="ex-text margin_style-1">
					<span class="ex-textLarge">ハーバード・ビジネスレビュー</span>の有名な記事『モチベーションとは何か』のなかで
					心理学者のフレデリック・ハーズバーグは人の意欲を高める2つの主要因が「達成」と「達成が認められること」であると説いた。
				</div>
				<div class="ex-text">
					<span class="ex-textLarge">
					テレサ・アマビルとスティーブン・クレイマー</span>が数百人の数千日間にわたる日記を分析した研究結果によると
					「日々のささやかな進歩」こそがやる気を引き出し、高いパフォーマンスを可能にすると結論づけた。
					「職場において感情・モチベーション・認知を高める諸要素のなかで、もっとも重要なのは、進歩しているという手応えである」と彼らはいう。
				</div>
			</div>
			<div class="col-xs-7 margin_style-2 chapterText ex-textBox ex-right">
				<div class="ex-text margin_style-1">
					<span class="ex-textLarge">最初から高望みをして</span>途中で挫折したら、何も残らない。
					少しずつでもいいから結果を出し、地道な成功を積み重ねたほうがずっと生産的だ。
					成功は次の成功を生み、やがてそれらは飛躍的な達成へとつながっていく。
				</div>
				<div class="ex-text">
					<span class="ex-textLarge">
					周りから見れば、</span>まるで一夜のうちに飛躍的な達成を成し遂げたように映るかもしれない。
					大きな困難もなく、ずっとスムーズに進んできたからだ。
				</div>
			</div>
		</div>
	</div>
	<div class="col-xs-offset-1 col-xs-11 border-line"></div>
</div>


<%= render partial: 'memo-area' %>

<% if user_signed_in? %>
	<div class="row">
		<div class="col-xs-1" id="memoBtn">
			<div class="toggle-btn">
				<input type="checkbox" class="cb-value" />
				<span class="round-btn"></span>
			</div>
		</div>
		<%= render partial: 'memo-btn', locals: {memo: @memo, chapter_num: 17} %>
	</div>
<% end %>

<!-- <div class="row">
	<div class="col-lg-offset-1 col-lg-5">
		<div class="row">
			<div class="col-lg-offset-1 col-lg-10 non_essential-contents">
				<h2>非エッセンシャル思考</h2>
				<p class="learn-contents">
					・多くを求めて努力すれば、それだけ結果がついてくると考えるが、得るものは少ない
				</p>
				<p class="learn-contents">
					・派手な勝利を追い求める
				</p>
			</div>
		</div>
	</div>
	<div class="col-lg-5">
		<div class="row">
			<div class="col-lg-offset-1 col-lg-10 essential-contents">
				<h2>エッセンシャル思考</h2>
				<p class="learn-contents">
					・何でもいっぺんにやろうとせず、小さな成功を積み重ねて、大きな成果を得る
				</p>
				<p class="learn-contents">
					・地味でも着実に勝ちに行く
				</p>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-lg-offset-1 col-lg-5">
		<div class="row">
			<div class="col-lg-offset-1 col-lg-10 non_essential-memo">
				<div>非エッセンシャル思考メモ蘭<br>
					（自身の経験など振り返り思ったことなど、何でも残しておけます）
				</div>
			</div>
		</div>
	</div>
	<div class="col-lg-5">
		<div class="row">
			<div class="col-lg-offset-1 col-lg-10 essential-memo">
				<div>エッセンシャル思考メモ蘭<br>
					（自身の経験など振り返り思ったことなど、何でも残しておけます）
				</div>
			</div>
		</div>
	</div>
</div> -->

<div class="row">
	<div class="col-xs-offset-1 col-xs-11 nav-bar">
		<div>
			<%= link_to "前章", "/learns/chapter16", class:"btn btn-default col-xs-2" %>
		</div>
		<div>
			<%= link_to "一覧", "/learns", class:"btn btn-default col-xs-offset-3 col-xs-2" %>
		</div>
		<div>
			<%= link_to "次章", "/learns/chapter18", class:"btn btn-default col-xs-offset-3 col-xs-2" %>
		</div>
	</div>
</div>