<div class="row space_top">
	<div class="col-xs-offset-1 col-xs-11">
		<div class="col-xs-12 chapter-headline">
			<span class="chapter-number">第10章</span>
			<span class="chapter-title">Part3 目標</span>
			<div class="point">
				最終形を明確にする。
			</div>
		</div>
		<div class="col-xs-12 quotations">
			ひとつの目標を、立ち止まらずに追いかける。それが成功の秘訣です。<br>
			アンナ・パヴロワ(バレーダンサー)
		</div>
	</div>
</div>

<div class="row">
	<div class="col-xs-11 col-xs-offset-1 case-study-box">
		<div class="study-title">〜　ブラッド・ピットとネルソン・マンデラ　〜</div>
		<div class="col-xs-12">
			<div class="col-sm-6 study-item">
				<h3>01</h3>
				<span class="number-title">現実味のない目標</span>
				<span class="number-title_english">Unrealistic goals</span>
				<div class="sentence">
					スタンフォード大学でビル・ミーハンが行った授業の中に「非営利組織の戦略的経営」という授業があった。そのとき与えられた課題のなかに、非営利組織のビジョンおよびミッションステートメントを評価するというものだ。<br>
					100以上もの実例を見ていく中で、壮大だが空虚なステートメントがいかに多いかを思い知らされた。たとえば「世界から飢餓を撲滅する」という壮大な理想。それをわずか5人の組織がそんなことを言っても、現実味がない。
				</div>
			</div>
			<div class="col-sm-6 study-item">
				<h3>02</h3>
				<span class="number-title">心動かされた目標</span>
				<span class="number-title_english">Moved goals</span>
				<div class="sentence">
					そんな中途半端な理想主義が溢れるなかで、ひとつのステートメントが異彩を放っていた。誰でも即座に理解できて、心を動かされる。そのステートメントを書いたのは少し意外な人物だった。俳優で社会起業家のブラッド・ピットだ。<br>
					彼はハリケーン・カトリーナに襲われたニューオリンズの復興の遅さに苛立ち、自らメイク・イット・ライト財団を設立した。その目標はこうだ。「ニューオリンズの下9地区に住む世帯のために、低価格で環境に優しく、災害に強い家を150戸設立する」。このステートメントは、教室の空気を一変させた。具体的でリアル。リアルだが心を動かす。「達成をどうやって判定するのか」の答えも、これ以上ないほど明確だ。
				</div>
			</div>
		</div>
		<div class="col-xs-12">
			<div class="col-sm-6 study-item">
				<h3>03</h3>
				<span class="number-title">本質を見つめた目標</span>
				<span class="number-title_english">Goals that look at the essence</span>
				<div class="sentence">
					ネルソン・マンデラは27年間の獄中生活を通じて、人生の本質を見つめ続けた。1962年に投獄されたとき、マンデラはすべてを奪われた。家も評判も自尊心も、そしてもちろん自由も。<br>
					それからというもの、彼は本質だけを見つめ、そのほかのあらゆるものを切り捨てた。自分の怒りや恨みさえも忘れた。彼が選んだ目標は、「南アフリカにおけるアパルトヘイトの撤廃」だった。
				</div>
			</div>
		</div>
	</div>
	<div class="col-xs-offset-1 col-xs-11 border-line"></div>
</div>


<div class="row">
	<div class="col-xs-offset-1 col-xs-11 explanation-box">
		<div class="ex-title">〜　本質を見据えて生きる　〜</div>
		<div class="">
			<div class="col-xs-7 margin_style-2 chapterText ex-textBox ex-right">
				<div class="ex-text">
					<span class="ex-textLarge">重要なこと</span>にエネルギーを集中させるため、不要なものを切り捨てる技術。
					最初に切り捨てるべきは、やろうとしている意図にそぐわない行動だ。
					単純なことのようだが、これを実現するためには、自分がどんな目的に向かっているかを明確に定義しなければならない。
				</div>
			</div>
			<div class="col-xs-offset-5 col-xs-7 margin_style-2 ex-textBox ex-left">
				<div class="ex-text margin_style-1">
					<span class="ex-textLarge">「かなり明確」</span>を「完全に明確」にする。
					あなたの目的や戦略は明確か、と経営者にたずねると「かなり明確です」という答えがよく返ってくる。
					かなり明確なら、それで十分だと思っているようだ。
					だが「完全に明確」な状態を知ると、それまでの「かなり」が不便だったことに気付く。
					まるで視力の悪い人が、初めて眼鏡をかけたときのようなものだ。
				</div>
			</div>
			<div class="col-xs-7 margin_style-2 chapterText ex-textBox ex-right">
				<div class="ex-text margin_style-1">
					<span class="ex-textLarge">どうすれば</span>
					目的を明確にできるのだろうか？<br>
					一つのやり方は「本質目標」を決めることだ。
				</div>
				<div class="ex-text">
					◎ビジョン・ミッション　<刺激的だが具体性に乏しい目標><br>
					　ex--「世界を変えたい」<br>
					◎価値観　<平凡で一般的な目標><br>
					　ex--「イノベーション」「リーダーシップ」「チームワーク」<br>
					◎四半期目標　<常に具体的だが魅力的ではない目標><br>
					　ex--「昨年比5％の増益」<br>
					◎本質目標　<具体的で魅力的な目標><br>
					　ex--「南アフリカにおけるアパルトヘイトの撤廃」
				</div>
			</div>
			<div class="col-xs-offset-5 col-xs-7 margin_style-2 ex-textBox ex-left">
				<div class="ex-text margin_style-1">
					<span class="ex-textLarge">本質目標</span>
					は、仕事や会社だけのものではない。正しく使えば、人生に意味を与え、正しい方向へと導いてくれる。人生の本質目標を決めるのは、容易ではない。勇気と洞察力を持ち、自分の力を最高に発揮できる行動を見定めなくてはならない。
				</div>
				<div class="ex-text">
					<span class="ex-textLarge">そのためには</span>
					、タフな問いに答えることが必要だ。トレードオフを直視し、本質から外れたものごとを断固として切り捨てなくてはならない。厳しいが、やるだけの価値はある。本当に明確な目標だけが、自分や組織の力を最大限に引き出し、真にすぐれた成果を可能にしてくれる。
				</div>
			</div>
		</div>
	</div>
	<div class="col-xs-offset-1 col-xs-11 border-line"></div>
</div>


<%= render partial: 'memo-area' %>

<% if user_signed_in? %>
	<div class="row">
		<div class="col-xs-1" id="memoBtn">
			<div class="toggle-btn">
				<input type="checkbox" class="cb-value" />
				<span class="round-btn"></span>
			</div>
		</div>
		<%= render partial: 'memo-btn', locals: {memo: @memo, chapter_num: 10} %>
	</div>
<% end %>


<!-- <div class="row">
	<div class="col-lg-offset-1 col-lg-5">
		<div class="row">
			<div class="col-lg-offset-1 col-lg-10 non_essential-contents">
				<h2>非エッセンシャル思考</h2>
				<p class="learn-contents">
					・具体的だが、人の心を動かさない四半期目標
				</p>
				<p class="learn-contents">
					・価値観はあるが、それを実行するための行動規範がない
				</p>
			</div>
		</div>
	</div>
	<div class="col-lg-5">
		<div class="row">
			<div class="col-lg-offset-1 col-lg-10 essential-contents">
				<h2>エッセンシャル思考</h2>
				<p class="learn-contents">
					・具体的かつ魅力的な戦略
				</p>
				<p class="learn-contents">
					・意味があり、心に残る本質目標
				</p>
				<p class="learn-contents">
					・ひとつの決断によって、その後のあらゆる決断を不要にする
				</p>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-lg-offset-1 col-lg-5">
		<div class="row">
			<div class="col-lg-offset-1 col-lg-10 non_essential-memo">
				<div>非エッセンシャル思考メモ蘭<br>
					（自身の経験など振り返り思ったことなど、何でも残しておけます）
				</div>
			</div>
		</div>
	</div>
	<div class="col-lg-5">
		<div class="row">
			<div class="col-lg-offset-1 col-lg-10 essential-memo">
				<div>エッセンシャル思考メモ蘭<br>
					（自身の経験など振り返り思ったことなど、何でも残しておけます）
				</div>
			</div>
		</div>
	</div>
</div> -->

<div class="row">
	<div class="col-xs-offset-1 col-xs-11 nav-bar">
		<div>
			<%= link_to "前章", "/learns/chapter9", class:"btn btn-default col-xs-2" %>
		</div>
		<div>
			<%= link_to "一覧", "/learns", class:"btn btn-default col-xs-offset-3 col-xs-2" %>
		</div>
		<div>
			<%= link_to "次章", "/learns/chapter11", class:"btn btn-default col-xs-offset-3 col-xs-2" %>
		</div>
	</div>
</div>