<div class="row">
	<div class="col-sm-offset-1 col-sm-10">
		<h1 class="learn-headline">
			第1章　エッセンシャル思考と非エッセンシャル思考
		</h1>
		<div class="headline-explanation">
			正しいことをやり遂げる技術。<br>
			自分の時間とエネルギーをもっとも効果的に配分し、<br>
			重要な仕事で最大の成果を上げる。
		</div>
	</div>
</div>

<div class="row">
	<div class="col-sm-offset-1 col-sm-5">
		<div class="row">
			<div class="col-sm-offset-1 col-sm-10 non_essential-contents">
				<h2>非エッセンシャル思考</h2>
				<p class="learn-contents">
					考え方　[みんな・全て]<br>
					・やらなくては<br>
					・どれも大事だ<br>
					・全部こなす方法は？
				</p>
				<p class="learn-contents">
					行動　[やることをでたらめに増やす]<br>
					・差し迫ったものからやる<br>
					・反射的に「やります」と言う<br>
					・期限が迫ると根性で頑張る
				</p>
				<p class="learn-contents">
					結果　[無力感]<br>
					・何もかも中途半端<br>
					・振り回されている<br>
					・何かがおかしい<br>
					・疲れ切っている
				</p>
			</div>
		</div>
	</div>
	<div class="col-sm-5">
		<div class="row">
			<div class="col-sm-offset-1 col-sm-10 essential-contents">
				<h2>エッセンシャル思考</h2>
				<p class="learn-contents">
					考え方　[より少なく、しかしより良く]<br>
					・これをやろう<br>
					・大事なことは少ない<br>
					・何を捨てるべきか
				</p>
				<p class="learn-contents">
					行動　[やることを計画的に減らす]<br>
					・本当に重要なことを見定める<br>
					・大事なこと以外は断る<br>
					・あらかじめ障害を取り除いておく
				</p>
				<p class="learn-contents">
					結果　[充実感]<br>
					・質の高い仕事ができる<br>
					・コントロールしている<br>
					・正しいことをやっている<br>
					・毎日をたのしんでいる
				</p>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-sm-offset-1 col-sm-5">
		<div class="row">
			<div class="col-sm-offset-1 col-sm-10 non_essential-memo">
				<%= form_with model: @memo, url: learns_path do |f| %>
				    <div class="form-gorup">
				    	<%= f.label :memo, "非エッセンシャル思考メモ" %><br>
				    	<%= f.text_area :memo, class:"col-sm-12 text-black", rows:"4", placeholder: "自身の経験など振り返って感じたことなどメモに残しましょう" %>
				    </div>
				    <%= f.hidden_field :user_id, :value => current_user.id %>
				    <%= f.hidden_field :chapter, :value => 1 %>
				    <%= f.hidden_field :essential_type, :value => 0 %>
				    <br>
				    <%= f.submit "メモを追加", class:"pull-right text-black" %>
				<% end %>
			</div>
		</div>
	</div>
	<div class="col-sm-5">
		<div class="row">
			<div class="col-sm-offset-1 col-sm-10 essential-memo">
				<%= form_with model: @memo, url: learns_path do |f| %>
				    <div class="form-gorup">
				    	<%= f.label :memo, "エッセンシャル思考メモ" %><br>
				    	<%= f.text_area :memo, class:"col-sm-12", rows:"4", placeholder: "自身の経験など振り返って感じたことなどメモに残しましょう" %>
				    </div>
				    <%= f.hidden_field :user_id, :value => current_user.id %>
				    <%= f.hidden_field :chapter, :value => 1 %>
				    <%= f.hidden_field :essential_type, :value => 1 %>
				    <br>
				    <%= f.submit "メモを追加", class:"pull-right" %>
				<% end %>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-sm-offset-1 col-sm-5">
		<p>非エッセンシャル思考メモ一覧</p>
		<% @non_essential_memos.each do |non_essential| %>
		    <div class="row">
			    <div class="col-sm-offset-1 col-sm-10 non_essential-memo"><%= non_essential.memo %></div>
			</div>
			<span><%= link_to "削除", learn_path(non_essential), method: :delete, class:"btn btn-danger btn-sm pull-right" %></span>
			<span><%= link_to "編集", edit_learn_path(non_essential), class:"btn btn-success btn-sm pull-right" %></span>
			<br>
		<% end %>
	</div>
	<div class="col-sm-5">
		<p>エッセンシャル思考メモ一覧</p>
		<% @essential_memos.each do |essential| %>
		    <div class="row">
			    <div class="col-sm-offset-1 col-sm-10 essential-memo"><%= essential.memo %></div>
			</div>
			<span><%= link_to "削除", learn_path(essential), method: :delete, class:"btn btn-danger btn-sm pull-right" %></span>
			<span><%= link_to "編集", edit_learn_path(essential), class:"btn btn-success btn-sm pull-right" %></span>
			<br>
		<% end %>
	</div>
</div>

<div class="row">
	<div class="col-sm-offset-1 col-sm-10 nav-bottom">
		<div class="col-sm-offset-1 col-sm-2"></div>
		<div>
			<%= link_to "一覧", "/learns", class:"btn btn-default col-sm-offset-2 col-sm-2" %>
		</div>
		<div>
			<%= link_to "次章", "/learns/chapter2", class:"btn btn-default col-sm-offset-2 col-sm-2" %>
		</div>
	</div>
</div>