<div class="row space_top">
	<div class="col-xs-offset-1 col-xs-11">
		<div class="col-xs-12 chapter-headline">
			<span class="chapter-number">第18章</span>
			<span class="chapter-title">Part4 習慣</span>
			<div class="point">
				本質的な行動を無意識化する。
			</div>
		</div>
		<div class="col-xs-12 quotations">
			決まりきった行動は、賢い人の場合、高い志のあらわれである。<br>
			ウィスタン・ヒュー・オーデン(詩人)
		</div>
	</div>
</div>

<div class="row">
	<div class="col-xs-11 col-xs-offset-1 case-study-box">
		<div class="study-title">〜　マイケル・フェルプスの事例　〜</div>
		<div class="col-xs-12">
			<div class="col-sm-6 study-item">
				<h3>01</h3>
				<span class="number-title">決まった手順</span>
				<span class="number-title_english">Fixed procedure</span>
				<div class="sentence">
					2008年の北京オリンピックで8個の金メダルを獲得した水泳選手マイケル・フェルプス。彼は試合の前に、いつも決まった行動を繰り返す。<br>
					試合の2時間前に会場に入り、正確に決まった手順でストレッチとウォームアップをこなす。800、600、400メートル、スイム、キック、プル、ドリル。ウォームアップが終わると体を乾かし、イヤフォンをつけてマッサージテーブルに座る。その瞬間から試合終了まで、彼とコーチはひとことも言葉を交わさない。
					試合の45分前になると、フェルプスは競技用の水着に着替える。30分前にウォームアップ用のプールに入り、600〜800メートル泳ぐ。10分前に控室に入り、1人きりで座る。試合の呼び出しがかかると、ゆっくり飛び込み台へと歩いていく。それから2回だけストレッチ。脚を伸ばし、脚を曲げる。左脚がいつも先だ。そして右のイヤフォンを外す。名前が呼ばれると、左のイヤフォンを外す。飛び込み台に左側から上る。飛び込み台を拭いてから立ち上がり、手で背中を叩くような格好で腕を振る。<br>
					フェルプスは、この手順についてこう語る。「習慣ですよ。ただの習慣。ずっと前から続けてきましたし、今後も変えるつもりはありません」。
				</div>
			</div>
			<div class="col-sm-6 study-item">
				<h3>02</h3>
				<span class="number-title">作りあげた習慣</span>
				<span class="number-title_english">Customs created</span>
					<div class="sentence">コーチのボブ・ボウマンは、フェルプスと一緒にこの習慣をつくりあげてきた。
					動作だけでなく、寝る前や朝起きた時に何を考えるかとういことも習慣化した。
					気が向いたときにやるのではない。毎朝起きた直後と寝る前に、必ず試合をビジュアライズする。
					長年ずっと続けている習慣だ。<br>
					この習慣について、ボウマンはこうコメントしている。
					「試合前に何を考えているかとたずねたら、フェルプスは何も考えていないと答えるでしょうね。ただ決まった手順を追っているだけだと。でも本当は違います。習慣があまりに強力なんです。試合前の段階で、彼は勝利への道を着実に進んでいます。一つ一つのストレッチもウォームアップも、すべてイメージ通り。イヤフォンの曲も予定通り。試合の本番は、朝からずっとやってきたことのつづきでしかありません。勝利に向かう道をそのまま進むだけです。その当然の帰結として、勝利があるわけです」。
				</div>
			</div>
		</div>
		<div class="col-xs-12">
			<div class="col-sm-6 study-item">
				<h3>03</h3>
				<span class="number-title">正しい習慣の成果</span>
				<span class="number-title_english">Achievements of correct habits</span>
				<div class="sentence">
					一流アスリートというものは、なんと自然に驚異的な能力を発揮するのだろう。日頃からきわめて厳しいトレーニングを積んでいるとはいえ、本番の舞台であれほど優雅で自然な身のこなしを見せるのは並大抵のことではない。単に練習の成果というだけではなく、正しい習慣のさせる技に違いない。
				</div>
			</div>
		</div>
	</div>
	<div class="col-xs-offset-1 col-xs-11 border-line"></div>
</div>


<div class="row">
	<div class="col-xs-offset-1 col-xs-11 explanation-box">
		<div class="ex-title">〜　正しい習慣が造像性を生む　〜</div>
		<div class="">
			<div class="col-xs-7 margin_style-2 chapterText ex-textBox ex-right">
				<div class="ex-text margin_style-1">
					<span class="ex-textLarge">非エッセンシャル思考</span>の人は、いざとなったら本気を出そうと考えている。
					土壇場になってから、無理やり全力で終わらせる。
				</div>
				<div class="ex-text">
					<span class="ex-textLarge">エッセンシャル思考</span>の人は、重要なことをやりとげるために、日頃からの習慣にする。
					正しい習慣を続けていれば、偉大な結果は自然とついてくるのだ。
				</div>
			</div>
			<div class="col-xs-offset-5 col-xs-7 margin_style-2 ex-textBox ex-left">
				<div class="ex-text margin_style-1">
					<span class="ex-textLarge">習慣は妨害に打ち勝つ</span>ための最強の武器だ。習慣がなければ、数知れぬ誘惑に打ち勝つことは難しい。
					だが本質的な目標に向かう行動を習慣づけてしまえば、無意識のうちに目標を達成できる。
					いちいち難しい判断をする必要はないし、誘惑から目を背けるためにエネルギーを使う必要もない。
					習慣をつくる段階で少しだけ努力すれば、あとは勝手にうまくいく。
				</div>
				<div class="ex-text">
					<span class="ex-textLarge">習慣の力について</span>は、数々の科学的研究も行われている。
					習慣のしくみをカンタに説明すると、同じことを複数回実行することによって、
					ニューロン（神経細胞）同士のあいだに新しい結びつき（シナプス）が生まれる。
					何度も反復することで結びつきは強化され、情報の伝達がスムーズになる。
				</div>
			</div>
			<div class="col-xs-7 margin_style-2 chapterText ex-textBox ex-right">
				<div class="ex-text margin_style-1">
					<span class="ex-textLarge">習慣と聞くと</span>退屈なイメージを持つ人もいるだろう。
					創造性やイノベーションの対極にあると思えるかもしれない。
					実際、間違ったやり方をすると、習慣は実に退屈なものになる。
				</div>
				<div class="ex-text">
					<span class="ex-textLarge">しかし正しく使えば</span>、習慣は創造性やイノベーションを実現するためのエネルギーを与えてくれる。
					その場その場で似たような判断にエネルギーを費やすよりも、自動化できるところは自動化し、もっと有益なことに脳を使った方がいい。
				</div>
			</div>
			<div class="col-xs-offset-5 col-xs-7 margin_style-2 ex-textBox ex-left">
				<div class="ex-text margin_style-1">
					<span class="ex-textLarge">デューク大学の研究</span>にようると、日々の判断の4割は無意識下でおこなわれている。
					意識的に考える前に答えを出すということだ。これには良い面と悪い面がある。
					良い麺をみれば、面倒な思考プロセスを飛ばして直感的に有意義な行動ができるというメリットがある。
				</div>
				<div class="ex-text">
					<span class="ex-textLarge">だが逆に</span>、非生産的な行動が無意識に刷り込まれてしまう危険もある。
					朝起きるとすぐにメールをチェックしてしまったり、なぜか仕事の帰りに甘いものを食べてしまったり、食事をしながら会話もせずにインターネットを見てしまったり。やめようと思っても、ついついやってしまう悪い癖だ。
					どうすれば悪い癖を捨てて、正しい習慣に置き換えることができるるのだろうか？
				</div>
			</div>
			<div class="col-xs-7 margin_style-2 chapterText ex-textBox ex-right">
				<div class="ex-text margin_style-1">
					<span class="ex-textLarge">研究結果から、</span>あらゆる習慣は「トリガー」「行動」「報酬」の3つの要素からなっている。
					『トリガー』とは、ある行動を自動的に呼び起こすためのきっかけだ。
					『行動』とは、肉体の動作の他に感情や思考も含んだもの。
					『報酬』とは、この習慣を次も繰り返したいと思うような、ご褒美だ。
					この3つのループが繰り返されることによって、トリガーと報酬はより強く脳に刷り込まれ、行動はより自動的になってく。
				</div>
				<div class="ex-text">
					<span class="ex-textLarge">つまり悪い習慣を変える</span>
					ためには、行動自体よりも、それを引き起こすトリガーに着目するということになる。
					トリガーをみつけて、別の有益な行動と結び付けてやればいいのだ。
					最初はかなり抵抗があると思いう。それでも新しい行動をやり続けていれば、トリガーと行動の新しい結びつきがだんだん脳に定着していく。やがて新しい行動が習慣化し、無意識のうちに新しい行動が引き起こされるようになるはずだ。
				</div>
			</div>
			<div class="col-xs-offset-5 col-xs-7 margin_style-2 ex-textBox ex-left">
				<div class="ex-text margin_style-1">
					<span class="ex-textLarge">習慣を変える</span>
					のは、それほど簡単なことではない。長年の癖は脳の奥までしみこんでいるし、強い感情と結びついている。一瞬にして変わるほど単純な話ではない。
				</div>
				<div class="ex-text">
					<span class="ex-textLarge">どんなスキル</span>
					もそうだ。新しく身につけるには時間がかかる。それでも練習を続ければ、やがて体がそれを覚え込み、一生もののスキルになってくれる。
					習慣についてもおなじことだ。いったん習慣にすれば、今後は何の苦もなくそのメリットを享受しつづけられる。
				</div>
			</div>
		</div>
	</div>
	<div class="col-xs-offset-1 col-xs-11 border-line"></div>
</div>


<%= render partial: 'memo-area' %>

<% if user_signed_in? %>
	<div class="row">
		<div class="col-xs-1" id="memoBtn">
			<div class="toggle-btn">
				<input type="checkbox" class="cb-value" />
				<span class="round-btn"></span>
			</div>
		</div>
		<%= render partial: 'memo-btn', locals: {memo: @memo, chapter_num: 18} %>
	</div>
<% end %>

<!-- <div class="row">
	<div class="col-lg-offset-1 col-lg-5">
		<div class="row">
			<div class="col-lg-offset-1 col-lg-10 non_essential-contents">
				<h2>非エッセンシャル思考</h2>
				<p class="learn-contents">
					・火事場の馬鹿力に期待する
				</p>
				<p class="learn-contents">
					・重要なことをやるのは例外的
				</p>
			</div>
		</div>
	</div>
	<div class="col-lg-5">
		<div class="row">
			<div class="col-lg-offset-1 col-lg-10 essential-contents">
				<h2>エッセンシャル思考</h2>
				<p class="learn-contents">
					・正しい習慣を通じて自然に達成する
				</p>
				<p class="learn-contents">
					・重要なことをやるのが普通の状態
				</p>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-lg-offset-1 col-lg-5">
		<div class="row">
			<div class="col-lg-offset-1 col-lg-10 non_essential-memo">
				<div>非エッセンシャル思考メモ蘭<br>
					（自身の経験など振り返り思ったことなど、何でも残しておけます）
				</div>
			</div>
		</div>
	</div>
	<div class="col-lg-5">
		<div class="row">
			<div class="col-lg-offset-1 col-lg-10 essential-memo">
				<div>エッセンシャル思考メモ蘭<br>
					（自身の経験など振り返り思ったことなど、何でも残しておけます）
				</div>
			</div>
		</div>
	</div>
</div> -->

<div class="row">
	<div class="col-xs-offset-1 col-xs-11 nav-bar">
		<div>
			<%= link_to "前章", "/learns/chapter17", class:"btn btn-default col-xs-2" %>
		</div>
		<div>
			<%= link_to "一覧", "/learns", class:"btn btn-default col-xs-offset-3 col-xs-2" %>
		</div>
		<div>
			<%= link_to "次章", "/learns/chapter19", class:"btn btn-default col-xs-offset-3 col-xs-2" %>
		</div>
	</div>
</div>