<div class="row">
	<div class="col-xs-offset-3 col-xs-6">
		<h2>メモの編集</h2>
		<% if @memo.essential_type == 0 %>
		    <div class="non-essential">
		    	<%= form_with model: @memo, url: learn_path do |f| %>
				    <div class="form-gorup">
				    	<%= f.label :memo, "非エッセンシャル思考メモ" %><br>
				    	<%= f.text_area :memo, class:"col-xs-12", rows:"4", placeholder: "自身の経験など振り返って感じたことなどメモに残しましょう" %>
				    </div>
				    <%= f.hidden_field :user_id, :value => current_user.id %>
				    <%= f.hidden_field :chapter, :value => @memo.chapter %>
				    <%= f.hidden_field :essential_type, :value => @memo.essential_type %>
				    <br>
				    <%= f.submit "メモを更新", class:"pull-right" %>
				<% end %>
			</div>
		<% else %>
		    <div class="essential">
		    	<%= form_with model: @memo, url: learn_path do |f| %>
				    <div class="form-gorup">
				    	<%= f.label :memo, "エッセンシャル思考メモ" %><br>
				    	<%= f.text_area :memo, class:"col-xs-12", rows:"4", placeholder: "自身の経験など振り返って感じたことなどメモに残しましょう" %>
				    </div>
				    <%= f.hidden_field :user_id, :value => current_user.id %>
				    <%= f.hidden_field :chapter, :value => @memo.chapter %>
				    <%= f.hidden_field :essential_type, :value => @memo.essential_type %>
				    <br>
				    <%= f.submit "メモを更新", class:"pull-right" %>
				<% end %>
			</div>
		<% end %>
	</div>
</div>