<div class="row space_top">
	<div class="col-xs-offset-1 col-xs-11">
		<h1 class="learn-headline">Learns</h1>
		<div class="bottom-line"></div>
		<div class="headline-explanation">
			Part1~4の全20章を通して、エッセンシャル思考の考え方に触れていきます。
		</div>
	</div>
</div>
<div class="row">
	<div class="col-xs-offset-1 col-xs-11">
		<div class="row">
			<div class="col-sm-2">
				<div class="partText">Part1</div>
				<div class="partText2">-土台-</div>
			</div>
			<div class="col-sm-10 learn-flex">
				<%= link_to chapter1_path do %>
					<figure class="learn-box">
						<div class="imageArea chapterImage1">
							<p>1章</p>
							<p>エッセンシャル思考</p>
						</div>
					</figure>
				<% end %>
				<%= link_to chapter2_path do %>
					<figure class="learn-box">
						<div class="imageArea chapterImage2">
							<p>2章</p>
							<p>選択</p>
						</div>
					</figure>
				<% end %>
				<%= link_to chapter3_path do %>
					<figure class="learn-box">
						<div class="imageArea chapterImage3">
							<p>3章</p>
							<p>ノイズ</p>
						</div>
					</figure>
				<% end %>
				<%= link_to chapter4_path do %>
					<figure class="learn-box">
						<div class="imageArea chapterImage4">
							<p>4章</p>
							<p>トレードオフ</p>
						</div>
					</figure>
				<% end %>
			</div>
		</div>


		<div class="row">
			<div class="col-sm-2">
				<div class="partText">Part2</div>
				<div class="partText2">-見極める-</div>
			</div>
			<div class="col-sm-10 learn-flex">
				<%= link_to chapter5_path do %>
					<figure class="learn-box">
						<div class="imageArea chapterImage5">
							<p>5章</p>
							<p>孤独</p>
						</div>
					</figure>
				<% end %>
				<%= link_to chapter6_path do %>
					<figure class="learn-box">
						<div class="imageArea chapterImage6">
							<p>6章</p>
							<p>洞察</p>
						</div>
					</figure>
				<% end %>
				<%= link_to chapter7_path do %>
					<figure class="learn-box">
						<div class="imageArea chapterImage7">
							<p>7章</p>
							<p>遊び</p>
						</div>
					</figure>
				<% end %>
				<%= link_to chapter8_path do %>
					<figure class="learn-box">
						<div class="imageArea chapterImage8">
							<p>8章</p>
							<p>睡眠</p>
						</div>
					</figure>
				<% end %>
				<%= link_to chapter9_path do %>
					<figure class="learn-box">
						<div class="imageArea chapterImage9">
							<p>9章</p>
							<p>選抜</p>
						</div>
					</figure>
				<% end %>
			</div>
		</div>


		<div class="row">
			<div class="col-sm-2">
				<div class="partText">Part3</div>
				<div class="partText2">-捨てる-</div>
			</div>
			<div class="col-sm-10 learn-flex">
				<%= link_to chapter10_path do %>
					<figure class="learn-box">
						<div class="imageArea chapterImage10">
							<p>10章</p>
							<p>目標</p>
						</div>
					</figure>
				<% end %>
				<%= link_to chapter11_path do %>
					<figure class="learn-box">
						<div class="imageArea chapterImage11">
							<p>11章</p>
							<p>拒否</p>
						</div>
					</figure>
				<% end %>
				<%= link_to chapter12_path do %>
					<figure class="learn-box">
						<div class="imageArea chapterImage12">
							<p>12章</p>
							<p>キャンセル</p>
						</div>
					</figure>
				<% end %>
				<%= link_to chapter13_path do %>
					<figure class="learn-box">
						<div class="imageArea chapterImage13">
							<p>13章</p>
							<p>編集</p>
						</div>
					</figure>
				<% end %>
				<%= link_to chapter14_path do %>
					<figure class="learn-box">
						<div class="imageArea chapterImage14">
							<p>14章</p>
							<p>線引き</p>
						</div>
					</figure>
				<% end %>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-2">
				<div class="partText">Part4</div>
				<div class="partText2">-仕組み化-</div>
			</div>
			<div class="col-sm-10 learn-flex">
				<%= link_to chapter15_path do %>
					<figure class="learn-box">
						<div class="imageArea chapterImage15">
							<p>15章</p>
							<p>バッファ</p>
						</div>
					</figure>
				<% end %>
				<%= link_to chapter16_path do %>
					<figure class="learn-box">
						<div class="imageArea chapterImage16">
							<p>16章</p>
							<p>削除</p>
						</div>
					</figure>
				<% end %>
				<%= link_to chapter17_path do %>
					<figure class="learn-box">
						<div class="imageArea chapterImage17">
							<p>17章</p>
							<p>前進</p>
						</div>
					</figure>
				<% end %>
				<%= link_to chapter18_path do %>
					<figure class="learn-box">
						<div class="imageArea chapterImage18">
							<p>18章</p>
							<p>習慣</p>
						</div>
					</figure>
				<% end %>
				<%= link_to chapter19_path do %>
					<figure class="learn-box">
						<div class="imageArea chapterImage19">
							<p>19章</p>
							<p>集中</p>
						</div>
					</figure>
				<% end %>
				<%= link_to chapter20_path do %>
					<figure class="learn-box">
						<div class="imageArea chapterImage20">
							<p>20章</p>
							<p>未来</p>
						</div>
					</figure>
				<% end %>
			</div>
		</div>
	</div>
</div>