<div class="row">
	<div class="col-sm-offset-1 col-sm-11">
		<h1 class="learn-headline">Learns</h1>
		<div class="bottom-line"></div>
		<div class="headline-explanation">
			Part1~4の全20章を通して、エッセンシャル思考の考え方に触れていきます。
		</div>
	</div>
</div>
<div class="row">
	<div class="col-sm-offset-1 col-sm-11">
		<div class="row">
			<div class="col-xs-3">
				<h3>Part1</h3>
				<p>〜土台〜</p>
			</div>
			<div class="col-xs-9">
				<div>
					<%= link_to chapter1_path do %>
						<div class="learn-box">
							<h3>1章</h3>
							<p>エッセンシャル思考</p>
						</div>
					<% end %>
				</div>
				<div>
					<%= link_to chapter2_path do %>
						<div class="learn-box">
							<h3>2章</h3>
							<p>選択</p>
						</div>
					<% end %>
				</div>
				<div>
					<%= link_to chapter3_path do %>
						<div class="learn-box">
							<h3>3章</h3>
							<p>ノイズ</p>
						</div>
					<% end %>
				</div>
				<div>
					<%= link_to chapter4_path do %>
						<div class="learn-box">
							<h3>4章</h3>
							<p>トレードオフ</p>
						</div>
					<% end %>
				</div>
			</div>
		</div>


		<div class="row">
			<div class="col-xs-3">
				<h3>Part2</h3>
				<p>〜見極める〜</p>
			</div>
			<div class="col-xs-9">
				<div class="learn-box">
					<%= link_to chapter5_path do %>
						<div>
							<h3>Part2</h3>
							<p>5章　孤独</p>
						</div>
					<% end %>
				</div>
				<div class="learn-box">
					<%= link_to chapter6_path do %>
						<div>
							<h3>Part2</h3>
							<p>6章　洞察</p>
						</div>
					<% end %>
				</div>
				<div class="learn-box">
					<%= link_to chapter7_path do %>
						<div>
							<h3>Part2</h3>
							<p>7章　遊び</p>
						</div>
					<% end %>
				</div>
				<div class="learn-box">
					<%= link_to chapter8_path do %>
						<div>
							<h3>Part2</h3>
							<p>8章　睡眠</p>
						</div>
					<% end %>
				</div>
				<div class="learn-box">
					<%= link_to chapter9_path do %>
						<div>
							<h3>Part2</h3>
							<p>9章　選抜</p>
						</div>
					<% end %>
				</div>
			</div>
		</div>


		<div class="learn-box">
			<%= link_to chapter10_path do %>
				<div>
					<h3>Part3</h3>
					<p>10章　目標</p>
				</div>
			<% end %>
		</div>
		<div class="learn-box">
			<%= link_to chapter11_path do %>
				<div>
					<h3>Part3</h3>
					<p>11章　拒否</p>
				</div>
			<% end %>
		</div>
		<div class="learn-box">
			<%= link_to chapter12_path do %>
				<div>
					<h3>Part3</h3>
					<p>12章　キャンセル</p>
				</div>
			<% end %>
		</div>
		<div class="learn-box">
			<%= link_to chapter13_path do %>
				<div>
					<h3>Part3</h3>
					<p>13章　編集</p>
				</div>
			<% end %>
		</div>
		<div class="learn-box">
			<%= link_to chapter14_path do %>
				<div>
					<h3>Part3</h3>
					<p>14章　線引き</p>
				</div>
			<% end %>
		</div>


		<div class="learn-box">
			<%= link_to chapter15_path do %>
				<div>
					<h3>Part4</h3>
					<p>15章　バッファ</p>
				</div>
			<% end %>
		</div>
		<div class="learn-box">
			<%= link_to chapter16_path do %>
				<div>
					<h3>Part4</h3>
					<p>16章　削減</p>
				</div>
			<% end %>
		</div>
		<div class="learn-box">
			<%= link_to chapter17_path do %>
				<div>
					<h3>Part4</h3>
					<p>17章　前進</p>
				</div>
			<% end %>
		</div>
		<div class="learn-box">
			<%= link_to chapter18_path do %>
				<div>
					<h3>Part4</h3>
					<p>18章　習慣</p>
				</div>
			<% end %>
		</div>
		<div>
			<%= link_to chapter19_path do %>
				<div class="learn-box">
					<h3>Part4</h3>
					<p>19章　集中</p>
				</div>
			<% end %>
		</div>
		<div class="learn-box">
			<%= link_to chapter20_path do %>
				<div>
					<h3>Part4</h3>
					<p>20章　未来</p>
				</div>
			<% end %>
		</div>
	</div>
</div>