<div class="row space_top">
	<div class="col-xs-offset-1 col-xs-11">
		<h1 class="work-headline">My Works</h1>
		<div class="bottom-line"></div>
		<p class="headline-explanation">
			自身の本質目標と行動を3つのステップを通して考えるワークです。<br>
			【Step】をクリックすることで始められます。<br>
			時間がかかるワークもありますので、ご自身ペースで進めてみて下さい。
		</p>
	</div>
</div>

<div class="row">
	<div class="col-xs-offset-1 col-xs-11 margin_style3">
		<div class="col-xs-2">
			<%= link_to "Step1", works_1_path, class:"step-numbers" %>
			<div class="arrow">
				<div class="line">
					<div class="triangle"></div>
				</div>
			</div>
			<div class="hide-arrow">
				<div class="line">
					<div class="triangle"></div>
				</div>
			</div>
		</div>
		<div class="col-xs-10">
			<div class="col-sm-4 step-title margin_style3">人生の軸を考える</div>
			<div class="col-sm-8">
				<% @works.where(genre: 1).each do |work| %>
					<div class="step-contents"><%= simple_format(work.writing) %></div>
				<% end %>
			</div>
		</div>
	</div>
	<div class="col-xs-offset-1 col-xs-11 step-boxs">
		<div class="col-xs-2"></div>
		<div class="col-xs-10">
			<div class="col-sm-4 step-title margin_style3">
				<p>最も大切にしたい人生の軸を選ぶ</p>
			</div>
			<div class="col-sm-8">
				<%= simple_format(@works.find_by(genre: 2).writing) %>
			</div>
		</div>
	</div>


	<div class="col-xs-offset-1 col-xs-11 step-boxs">
		<div class="col-xs-2">
			<%= link_to "Step2", works_2_path, class:"step-numbers" %>
			<div class="arrow">
				<div class="line">
					<div class="triangle"></div>
				</div>
			</div>
			<div class="hide-arrow">
				<div class="line">
					<div class="triangle"></div>
				</div>
			</div>
		</div>
		<div class="col-xs-10">
			<div class="col-sm-4 step-title margin_style3">
				<p>本質目標を考える</p>
			</div>
		    <div class="col-sm-8 step-contents">
		    	<% if @works.exists?(genre: 4) == true %>
					<%= simple_format(@works.find_by(genre: 4).writing) %>
				<% end %>
			</div>
		</div>
	</div>


	<div class="col-xs-offset-1 col-xs-11 step-boxs">
		<div class="col-xs-2">
			<%= link_to "Step3", works_3_path, class:"step-numbers" %>
			<div class="arrow">
				<div class="line">
					<div class="triangle"></div>
				</div>
			</div>
			<div class="hide-arrow">
				<div class="line">
					<div class="triangle"></div>
				</div>
			</div>
		</div>
		<div class="col-xs-10">
			<div class="col-sm-4 step-title margin_style3">
				<p>本質目標を達成するために必要な行動を考える</p>
			</div>
		    <div class="col-sm-8">
				<% @works.where(genre: 5).each do |work| %>
					<div class="step-contents"><%= simple_format(work.writing) %></div>
				<% end %>
			</div>
		</div>
	</div>


	<div class="col-xs-offset-1 col-xs-11 step-boxs">
		<div class="col-xs-2">
			<%= link_to "Step4", works_4_path, class:"step-numbers" %>
			<div class="arrow">
				<div class="line">
					<div class="triangle"></div>
				</div>
			</div>
			<div class="hide-arrow">
				<div class="line">
					<div class="triangle"></div>
				</div>
			</div>
		</div>
		<div class="col-xs-10">
			<div class="col-sm-4 step-title margin_style3">
				<p>本質目標を叶える小さな一歩を考える</p>
			</div>
		    <div class="col-sm-8 stpe-contents">
				<% @works.where(genre: 6).each do |work| %>
					<div class="step-contents"><%= simple_format(work.writing) %></div>
				<% end %>
			</div>
		</div>
	</div>


	<div class="col-xs-offset-1 col-xs-11 margin_style3">
		<div class="col-xs-2">
			<%= link_to "Step5", works_5_path, class:"step-numbers" %>
			<div class="arrow">
				<div class="line">
					<div class="triangle"></div>
				</div>
			</div>
			<div class="hide-arrow">
				<div class="line">
					<div class="triangle"></div>
				</div>
			</div>
		</div>
		<div class="col-xs-10">
			<div class="col-sm-4 step-title margin_style3">
				<p>習慣を考える</p>
			</div>
			<div class="col-sm-8">
				<% @works.where(genre: 7).each do |work| %>
					<div class="step-contents"><%= simple_format(work.writing) %></div>
				<% end %>
			</div>
		</div>
	</div>


	<div class="col-xs-offset-1 col-xs-11 step-boxs">
		<div class="col-xs-2"></div>
		<div class="col-xs-10">
			<div class="col-sm-4 step-title margin_style3s">
				<p>始める習慣を決める</p>
			</div>
		    <div class="col-sm-8 step-contents">
		    	<% if @works.exists?(genre: 8) == true %>
					<%= simple_format(@works.find_by(genre: 8).writing) %>
				<% end %>
			</div>
		</div>
	</div>
</div>