<div class="row">
	<div class="col-xs-offset-3 col-xs-6">
		<h1 class="work-title">My Work</h1>
	</div>
</div>

<div class="row">
	<div class="col-xs-1 col-xs-10 step-boxes">
		<div class="row">
			<div class="col-xs-1">
				<div class="step-titles"></div>
			</div>
			<div class="col-xs-3 step-headlines"><h4>選択</h4></div>
			<%= @works.where(genre: 0) do |work| %>
			    <div class="col-xs-7 steps-contents">
			    	<%= work.writing %>
			    	<br>
			    </div>
			<% end %>
			<%= @works.where(genre: 1) do |work| %>
			    <div class="col-xs-7 steps-contents">
			    	<%= work.writing %>
			    	<br>
			    </div>
			<% end %>
		</div>
		<div class="row">
			<div class="col-xs-1">
				<div class="step-titles"></div>
			</div>
			<div class="col-xs-3 step-headlines"><h4>選択</h4></div>
			<%= @works.where(genre: 2) do |work| %>
			    <div class="col-xs-7 steps-contents">
			    	<%= work.writing %>
			    	<br>
			    </div>
			<% end %>
			<%= @works.where(genre: 3) do |work| %>
			    <div class="col-xs-7 steps-contents">
			    	<%= work.writing %>
			    	<br>
			    </div>
			<% end %>
		</div>