<div class="row space_top">
	<div class="col-xs-offset-1 col-xs-11 margin_style1">
		<h1 class="work-title">
			<span>step2</span><span>本質目標を考える</span>
        </h1>
		<div class="work-explanation">
			<p>Step2で答えた「人生の軸」をもとに<br>
				具体的で測量可能かつ刺激的で魅力的<br>
				そのような自身の本質目標を考えるワークです。
			</p>
		</div>
	</div>

	<div class="col-xs-offset-1 col-xs-11 margin_style1">
		<div class="col-xs-6">
			<p>本質目標を理解するためには<br>
				それ以外を理解することが近道になります。<br>
				Part2-10章にて載せている2×2のマトリックスを<br>
				用意しているので、これを参考にして考えてみましょう。
			</p>
		</div>
		<div class="col-xs-6">写真表示</div>
	</div>

	<div class="col-xs-offset-1 col-xs-11 margin_style1">
		<div class="col-xs-2">
			<p>人生の軸</p>
	    </div>
	    <% if Work.where(user_id: current_user.id).exists?(genre: 2) == true  %>
	    	<div class="col-xs-9 essential"><%= simple_format(@most_axis_of_life.writing) %></div>
	    <% else %>
	    	<div class="col-xs-9">
	    		<p>『未選択』の状態です。
	    		<p>1つ前のワークに戻って、「最も大切な人生の軸」を1つ選択しましょう。</p>
	    	</div>
	    <% end %>
	</div>

	<div id="work-lists" class="col-xs-offset-1 col-xs-11 work-display">
		<p class="writing-headline">『本質目標』の一覧</p>
		<% @essential_goals.each do |essential_goal| %>
		    <div id="writing<%= essential_goal.id %>" class="col-xs-6 left-line">
		    	<div id="js-writing-label-<%= essential_goal.id %>"><%= simple_format(essential_goal.writing) %></div>
		    	<p id="js-writing-post-error-<%= essential_goal.id %>" class="text-danger"></p>
		    	<textarea style="display: none;" id="js-textarea-writing-<%= essential_goal.id %>" class="form-control writing-post-error"><%= essential_goal.writing %></textarea>
		    	<div id="js-writing-button-<%= essential_goal.id %>" class="js-right" style="display: none;">
					<button data-cancel-id=<%= essential_goal.id %> type="button" class="btn btn-xs writing-cancel-button">キャンセル</button>
					<button data-update-id=<%= essential_goal.id %> type="submit" class="btn btn-xs btn-success writing-update-button">更新</button>
				</div>
				<div id="js-writing-edit-delete-<%= essential_goal.id %>" class="pull-right">
					<span data-writing-id=<%= essential_goal.id %> class="js-edit-writing-button">
						<i class="fas fa-edit text-success"></i>
					</span>
					<span> / </span>
					<%= link_to work_path(essential_goal), method: :delete, class:"writing_delete", data: {confirm: "削除しますか？"} do %>
						<i class="fas fa-trash-alt text-danger"></i>
					<% end %>
				</div>
				<br>
				<div class="writing-border_bottom"></div>
		    </div>
		<% end %>
	</div>

	<!-- テキスト作成エリア -->
	<div class="col-xs-offset-1 col-xs-11 margin_style1">
    	<div class="">
			<%= form_with(model: @essential_goal, url: works_path, id: "work_input") do |f| %>
				<%= f.label :writing, "本質目標を作る" %>
		    	<%= f.text_area :writing, id:"writing_input", class:"form-control", rows: "3", placeholder: "本質目標をいくつか書き出してみましょう。" %>
			    <%= f.hidden_field :user_id, {:value => current_user.id, :id => "user_id_input", :class => "user_id_input"} %>
			    <%= f.hidden_field :genre, {:value => 3, :id => "genre_input", :class => "genre_input"} %>
			    <%= f.submit "作成する", class:"pull-right writing_form-btn" %>
			<% end %>
		</div>
	</div>
	<!-- テキスト作成エリア -->


	<% if Work.where(user_id: current_user.id).exists?(genre: 4) == true %>
	<!-- 最良の本質目標を決めている場合 -->
	    <div class="col-xs-offset-1 col-xs-11 work-display margin_style1">
	    	<div class="col-xs-6">
	    		<div id="writing<%= @my_essential_goal.id %>">
		    		<label for="js-textarea-writing-<%= @my_essential_goal.id %>">自身にとって最善量な本質目標</label>
		    		<div id="js-writing-label-<%= @my_essential_goal.id %>"><%= simple_format(@my_essential_goal.writing) %></div>
		    		<p id="js-writing-post-error-<%= @my_essential_goal.id %>" class="text-danger"></p>
		    		<textarea style="display: none;" id="js-textarea-writing-<%= @my_essential_goal.id %>" class="form-control writing-post-error"><%= @my_essential_goal.writing %></textarea>
			    	<div id="js-writing-button-<%= @my_essential_goal.id %>" class="js-right" style="display: none;">
						<button data-cancel-id=<%= @my_essential_goal.id %> type="button" class="btn btn-xs writing-cancel-button">キャンセル</button>
						<button data-update-id=<%= @my_essential_goal.id %> type="submit" class="btn btn-xs btn-success writing-update-button">更新</button>
					</div>
					<div id="js-writing-edit-delete-<%= @my_essential_goal.id %>" class="pull-right">
						<span data-writing-id=<%= @my_essential_goal.id %> class="js-edit-writing-button">
							<i class="fas fa-edit text-success">編集</i>
						</span>
						<span> / </span>
						<%= link_to work_path(@my_essential_goal), method: :delete, data: {confirm: "削除しますか？"} do %>
							<i class="fas fa-trash-alt text-danger">削除</i>
						<% end %>
					</div>
				</div>
			</div>

			<div class="col-xs-6">
	    		<%= form_with model: @my_essential_goal do |f| %>
	    			<%= f.label :writing, "作成した選択肢" %>
		    		<%= f.collection_select(
	    								:writing,
	    								@essential_goals,
	    								:writing,
	    								:writing,
	    								{prompt: "---本質目標を選び直す---"},
	    								{class: "form-control"})
	    			%>
		    		<%= f.submit "変更する", class:"pull-right" %>
		    	<% end %>
	    	</div>
		</div>
	<% else %>
	<!-- 最良の本質目標を決めていない場合 -->
	    <div class="col-xs-offset-1 col-xs-11 margin_style1">
	        <div class="col-xs-offset-1 col-xs-9 margin_style1">
	        	<p>
		    		作成した中から、自身でこれだと思える最良な目標を選びましょう。<br>
		    		もしもピンとくる本質目標がなければ、じっくり考えてみましょう。
		    	</p>
	    		<%= form_with model: @essential_goal do |f| %>
	    			<%= f.label :writing, "自身にとって最良だと思う本質目標" %>
	    		    <%= f.collection_select(:writing,
	    		    						@essential_goals,
	    		    						:writing,
	    		    						:writing,
	    		    						{prompt:"---目標の中から1つ選択して下さい---"},
	    		    						{class: "form-control"})
	    		    %>
	    		    <%= f.hidden_field :user_id, :value => current_user.id %>
	    		    <%= f.hidden_field :genre, :value => 4 %>
	    		    <%= f.submit "決定する", class:"pull-right" %>
	    		<% end %>
	    	</div>
	    </div>
	<% end %>

	<div class="col-xs-offset-1 col-xs-11 margin_style1">
		<%= link_to "Previous Step", works_1_path, class:"col-xs-2 btn btn-default" %>
		<%= link_to "My Works", works_path, class:"col-xs-offset-3 col-xs-2 btn btn-default" %>
		<%= link_to "Next Step", works_3_path, class:"col-xs-offset-3 col-xs-2 btn btn-default" %>
	</div>
</div>