<div class="row">
	<div class="col-xs-offset-1 col-xs-10">
		<div class="row space">
	        <div class="col-xs-1 step-logo">step4</div>
	        <div class="col-xs-offset-1 col-xs-8">
		        <h1 class="work-title">習慣を決める</h1>
		        <p class="work-explanation">
			    前回のワークで考えた「小さな一歩」を<br>
			    日々の生活に取り入れるための習慣について考えるワークです。<br>
			    <br>
			    ここで「習慣」について少し触れます。<br>
			    あらゆる習慣には、『トリガー』『行動』『報酬』の3つの要素があります。<br>
			    トリガーとは、ある行動を自動的に呼び起こすためのきっかけです。<br>
			    次に行動がきます。これは肉体の動作や感情、思考も含めます。<br>
			    最後に報酬。この習慣を次も繰り返したいと思うような、ご褒美です。<br>この3つの要素のループが繰り返されることによって、<br>
			    トリガーと報酬はより強く脳に刷り込まれ、行動はより自動的になっていきます。
		        </p>
	        </div>
	    </div>

	    <div class="row space">
			<div class="col-xs-3">
				<h4>小さな一歩</h4>
		    </div>
		    <% @baby_steps.each do |baby_step| %>
		        <div class="col-xs-7 essential">
		        	<%= baby_step.writing %>
		        </div>
		        <br>
		    <% end %>
		</div>

		<div class="row space">
			<div class="col-xs-3">
				<h4>習慣</h4>
		    </div>
		    <div class="col-xs-7">
		    	<div class="row space">
		    		<div class="essential">
		    			<%= form_with model: @habit do %>
		    			    <%= f.text_area :writing, class:"col-xs-12", rows: "3", placeholder: "ここに記入して下さい" %>
		    			    <%= f.hidden_field :user_id, :value => current_user.id %>
		    			    <%= f.hidden_field :genre, :value => 10 %>
		    			    <br>
		    			    <br>
		    			    <%= f.submit "作成", class:"pull-right" %>
		    			<% end %>
		    		</div>
		    		<div>『トリガー』『行動』『報酬』を意識して習慣を考えてみましょう。
		    		</div>
		    	</div>
		    	<%= @habits.each do |habit| %>
		    	    <div class="row essential">
		    	    	<%= habit.writing %>
		    	    </div>
		    	    <br>
		    	<% end %>
		    </div>
		</div>

		<div class="row space">
			<div class="col-xs-offset-2 col-xs-8">
				<p>習慣をつけるためのコツは1つずつ始めることです。<br>
					考えた習慣の中で最も取り入れることで効果的なものを選択してみて下さい。<br>
					<br>
					ここまでお疲れ様でした。これにてワークは全て終了となります。<br>
					最後までお付き合い頂きありがとうございました。<br>
					このワークを通して少しでも「エッセンシャル思考」について、興味や関心を持って頂けたなら幸いです。
				</p>
			</div>
		</div>

		<div class="row space">
			<%= link_to "戻る", 'javascript:history.back()', class:"col-xs-offset-1 col-xs-2 btn btn-default" %>
			<%= link_to "My Work一覧", works_path, class:"col-xs-offset-2 col-xs-2 btn btn-default" %>
		</div>