<div class="row">
	<div class="col-xs-offset-1 col-xs-10">
		<div class="row space">
	        <div class="col-xs-1 step-logo">step2</div>
	        <div class="col-xs-offset-1 col-xs-8">
		        <h1 class="work-title">人生の軸を決める</h1>
		        <p class="work-explanation">
			    あなたにとって生きていく上で大切だと考える<br>
			    「人生の軸」を考えて書き出していきます
		        </p>
	        </div>
	    </div>

	    <div class="row space">
	    	<div class="col-xs-3">
	    		<h4>人生の軸</h4>
	    	</div>
	    	<div class="col-xs-7">
	    		<div class="essential">
	    			<%= form_with model: @axis_of_life, url: works_path do |f| %>
	    			    <div class="">
	    			    	<%= f.text_area :writing, class:"col-xs-12", rows: "4", placeholder: "あなた自身の「人生の軸」には、どのようなことがあるか考えてみましょう" %>
	    			    </div>
	    			    <%= f.hidden_field :user_id, :value => current_user.id %>
	    			    <%= f.hidden_field :genre, :value => 6 %>
	    			    <br>
	    			    <br>
	    			    <br>
	    			    <br>
	    			    <%= f.submit "作成", class:"pull-right" %>
	    			<% end %>
	    		</div>
	    		<br>
	    		<% @axis_of_lifes.each do |axis_of_life| %>
	    		    <div class="essential">
	    		    	<div><%= axis_of_life.writing %></div>
	    		    	<%= link_to "削除", work_path(axis_of_life), method: :delete, class:"btn btn-danger btn-sm pull-right" %>
	    		    </div>
	    		    <br>
	    		<% end %>
	    	</div>
	    </div>

	    <div class="row space">
	    	<p>書き出した中で、あなとにとって最も大切にしたい「人生の軸」を1つ選んでみましょう
	    	</p>
	    	
	    </div>

	    <div class="row space">
			<%= link_to "戻る", 'javascript:history.back()', class:"col-xs-offset-1 col-xs-2 btn btn-default" %>
			<%= link_to "My Work一覧", works_path, class:"col-xs-offset-2 col-xs-2 btn btn-default" %>
			<%= link_to "次へ", works_5_path, class:"col-xs-offset-2 col-xs-2 btn btn-default" %>
		</div>
	</div>
</div>