<div class="row">
	<div class="col-xs-offset-1 col-xs-10">
		<div class="row space">
	        <div class="col-xs-1 step-logo">step4</div>
	        <div class="col-xs-offset-1 col-xs-8">
		        <h1 class="work-title">小さな一歩を考える</h1>
		        <p class="work-explanation">
			    Step4にて考えた「本質目標」を達成するために必要なことを書き出しました。<br>
			    それらをもとに自身が日々の生活の中で行うことのできる小さな行動には<br>
			    どのようなものがあるか考えてみるワークです。
		        </p>
	        </div>
	    </div>

	    <div class="row space">
	    	<div class="col-xs-3">
				<h4>本質目標</h4>
		    </div>
		    <div class="col-xs-7 essential">
		    	<%= @essential_goal.writing %>
		    </div>
		</div>

		<div class="row space">
			<div class="col-xs-3">
				<h4>必要なこと</h4>
		    </div>
		    <% @necessary_actions.each do |necessary_action| %>
		        <div class="col-xs-7">
		        	<%= necessary_action.writing %>
		        </div>
		    <% end %>
		</div>

		<div class="row space">
			<div class="col-xs-3">
				<h4>小さな一歩</h4>
		    </div>
		    <div class="col-xs-7">
		    	<div class="row space">
		    		<div class="essential">
		    			<%= form_with model: @baby_step do |f| %>
		    			    <%= f.text_area :writing, class:"col-xs-12", rows:"2", placeholder: "ここに記入して下さい" %>
		    			    <%= f.hidden_field :user_id, :value => current_user.id %>
		    			    <%= f.hidden_field :genre, :value => 9 %>
		    			    <br>
		    			    <%= f.submit "作成", class:"pull-right" %>
		    			<% end %>
		    		</div>
		    	</div>
		    	<% @baby_steps.each do |baby_step| %>
		    	    <div class="row essential">
		    	    	<%= baby_step.writing %>
		    	    </div>
		    	    <br>
		    	<% end %>
		    </div>
		</div>

		<div class="row space">
			<div class="col-xs-offset-1 col-xs-2 btn btn-default">戻る</div>
			<%= link_to "My Work一覧", works_path, class:"col-xs-offset-2 col-xs-2 btn btn-default" %>
			<%= link_to "次へ", works_8_path, class:"col-xs-offset-2 col-xs-2 btn btn-default" %>
		</div>
	</div>
</div>