<div class="row">
	<div class="col-xs-offset-3 col-xs-6">
		<h1 class="work-title"><%= @user.user.name %>のWork</h1>
	</div>
</div>

<div class="row">
	<div class="col-xs-offset-1 col-xs-10 step-boxes">
		<div class="row">
			<div class="col-xs-1 step-titles">Step1</div>
			<div class="col-xs-3 step-headlines"><h4>選択</h4></div>
			<div class="col-xs-7">
				<% @work.where(genre: 0).each do |work| %>
					<div class="row step-contents non_essential">
				    	<%= work.writing %>
				    	<br>
				    </div>
				<% end %>
				<% @work.where(genre: 1).each do |work| %>
				    <div class="row steps-contents">
				    	<%= work.writing %>
				    	<br>
				    </div>
				<% end %>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-offset-1 col-xs-3 step-headlines"><h4>ノイズ</h4></div>
			<div class="col-xs-7">
				<% @work.where(genre: 2).each do |work| %>
					<div class="row step-contents non_essential">
				    	<%= work.writing %>
				    	<br>
				    </div>
				<% end %>
				<% @work.where(genre: 3).each do |work| %>
				    <div class="row steps-contents">
				    	<%= work.writing %>
				    	<br>
				    </div>
				<% end %>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-offset-1 col-xs-3 step-headlines"><h4>トレードオフ</h4></div>
			<div class="col-xs-7">
				<% @work.where(genre: 4).each do |work| %>
					<div class="row step-contents non_essential">
				    	<%= work.writing %>
				    	<br>
				    </div>
				<% end %>
				<% @work.where(genre: 5).each do |work| %>
				    <div class="row steps-contents">
				    	<%= work.writing %>
				    	<br>
				    </div>
				<% end %>
			</div>
		</div>
	</div>

	<div class="col-xs-offset-1 col-xs-10 step-boxes">
		<div class="row">
			<div class="col-xs-1 step-titles">Step2</div>
			<div class="col-xs-3 step-headlines"><h4>自身の大切な軸を一つ選ぶ</h4></div>
			<div class="col-xs-7 steps-contents"><%= @work.find_by(genre: 7).writing %></div>
		</div>
		<div class="row">
			<div class="col-xs-offset-1 col-xs-3 step-headlines"><h4>その他</h4></div>
			<div class="col-xs-7">
				<% @work.where(genre: 6).each do |work| %>
					<div class="steps-contents"><%= work.writing %></div>
				<% end %>
			</div>
		</div>
	</div>

	<div class="col-xs-offset-1 col-xs-10 step-boxes">
		<div class="row">
			<div class="col-xs-1 step-titles">Step3</div>
			<div class="col-xs-3 step-headlines"><h4>本質目標</h4></div>
		    <div class="col-xs-7 steps-contents"><%= @work.find_by(genre: 8).writing %></div>
		</div>
		<div class="row">
			<div class="col-xs-offset-1 col-xs-3 step-headlines">
				<h4>達成するために必要なこと</h4>
			</div>
			<div class="col-xs-7">
				<% @work.where(genre: 9).each do |work| %>
					<div class="steps-contents"><%= work.writing %></div>
				<% end %>
			</div>
		</div>
	</div>

	<div class="col-xs-offset-1 col-xs-10 step-boxes">
		<div class="row">
			<div class="col-xs-1 step-titles">Step4</div>
			<div class="col-xs-3 step-headlines"><h4>本質目標を叶える小さな一歩</h4></div>
			<div class="col-xs-7">
				<% @work.where(genre: 10).each do |work| %>
					<div class="steps-contents"><%= work.writing %></div>
				<% end %>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-offset-1 col-xs-3 step-headlines">
				<h4>本質目標を叶えるための習慣</h4>
			</div>
			<div class="col-xs-7">
				<% @work.where(genre: 11).each do |work| %>
					<div class="steps-contents"><%= work.writing %></div>
				<% end %>
			</div>
		</div>
	</div>
</div>