<div class="row space_top">
	<div class="col-xs-offset-1 col-xs-11">
	    <h1 class="work-title">User Work</h1>
	    <p class="work-explanation">
		他のユーザのWorkを参考にいろんな考え方・価値観を知ってみましょう。<br>
		"いいね"をつけることで、ご自身の「Favorite」からいつでも確認できます。
	    </p>
    </div>

    <div class="col-xs-offset-1 col-xs-11">
    	<div class="col-xs-6">
    	    <h3>新着</h3>
            <% @user_essential_goals.each do |goal| %>
    	        <div class="">
    		        <div class="col-xs-4">本質目標</div>
    		        <div class="col-xs-8"><%= simple_format(goal.writing) %></div>
    		        <div class="col-xs-12">
                        <%= attachment_image_tag goal.user, :profile_image, size:"20x20", fallback:"no_image.jpg" %>
                        <span> / </span><%= goal.user.name %>
                    </div>
                   <%= link_to user_work_path(goal.user.id)do %>
                        <button class="btn btn-xs btn-default pull-right">もっとみる</button>
                    <% end %>
                </div>
            <% end %>
        </div>
        <div class="col-xs-6">
    	    <h3>いいね数ランキング</h3>
            <% @all_ranks.each.with_index(1) do |work, i| %>
                <div class="rank_number"><%= i %>位
                    <span> / </span>
                    <span class="favorite_count"><%= work.favorites.count %>いいね</span>
                </div>
        	    <div class="">
        		    <div class="col-xs-4">本質目標</div>
        		    <div class="col-xs-8"><%= simple_format(work.writing) %></div>
        		    <div class="col-xs-12">
                        <%= attachment_image_tag work.user, :profile_image, size:"20x20", fallback:"no_image.jpg" %>
                        <span> / </span>
                        <%= work.user.name %>
                    </div>
        	    </div>
                <%= link_to user_work_path(work.id) do %>
                    <button class="btn btn-xs btn-default pull-right">もっとみる</button>
                <% end %>
                <br>
                <br>
            <% end %>
        </div>
    </div>
</div>