<div class="row space_top">
	<div class="col-xs-offset-1 col-xs-11">
		<h1 class="work-title"><%= @user.name %><span> / </span>Works</h1>
		<% if @essential_goal.favorited_by?(current_user) %>
			<%= link_to work_favorite_path(@essential_goal), method: :delete do %>
				<i class="fa fa-heart" aria-hidden="true" style="color: red;"></i>
				<%= @essential_goal.favorites.count %>いいね
			<% end %>
		<% else %>
			<%= link_to work_favorites_path(@essential_goal), method: :post do %>
				<i class="fa fa-heart" aria-hiddent="true"></i>
				<%= @essential_goal.favorites.count %>いいね
			<% end %>
		<% end %>
	</div>

	<div class="col-xs-offset-1 col-xs-11">
		<div class="col-xs-2">Step1</div>
		<div class="col-xs-3">人生の軸</div>
		<div class="col-xs-7">
			<% @works.where(genre: 1).each do |work| %>
				<div class="steps-contents">・<%= work.writing %></div>
			<% end %>
		</div>
	</div>

	<div class="col-xs-offset-1 col-xs-11">
		<div class="col-xs-2"></div>
		<div class="col-xs-3">最も大切な人生の軸
		</div>
		<div class="col-xs-7">
			・<%= @works.find_by(genre: 2).writing %>
		</div>
	</div>

	<div class="col-xs-offset-1 col-xs-11">
		<div class="col-xs-2">Step2</div>
		<div class="col-xs-3 step-headlines">本質目標</div>
	    <div class="col-xs-7 steps-contents">
	    	<% if @works.exists?(genre: 4) == true %>
				・<%= @works.find_by(genre: 4).writing %>
			<% end %>
		</div>
	</div>

	<div class="col-xs-offset-1 col-xs-11">
		<div class="col-xs-2">Step3</div>
		<div class="col-xs-3 step-headlines">本質目標達成のために必要な行動</div>
	    <div class="col-xs-7 steps-contents">
			<% @works.where(genre: 5).each do |work| %>
				<div class="steps-contents">・<%= work.writing %></div>
			<% end %>
		</div>
	</div>

	<div class="col-xs-offset-1 col-xs-11">
		<div class="col-xs-2">Step4</div>
		<div class="col-xs-3 step-headlines">本質目標を叶える小さな一歩</div>
	    <div class="col-xs-7 steps-contents">
			<% @works.where(genre: 6).each do |work| %>
				<div class="steps-contents">・<%= work.writing %></div>
			<% end %>
		</div>
	</div>

	<div class="col-xs-offset-1 col-xs-11">
		<div class="col-xs-2">Step4</div>
		<div class="col-xs-3">習慣</div>
		<div class="col-xs-7">
			<% @works.where(genre: 7).each do |work| %>
				<div class="steps-contents">・<%= work.writing %></div>
			<% end %>
		</div>
	</div>

	<div class="col-xs-offset-1 col-xs-11">
		<div class="col-xs-2"></div>
		<div class="col-xs-3 step-headlines">取り組むの習慣</div>
	    <div class="col-xs-7 steps-contents">
	    	<% if @works.exists?(genre: 8) == true %>
				・<%= @works.find_by(genre: 8).writing %>
			<% end %>
		</div>
	</div>
</div>
