<div class="row space_top">
	<div class="col-xs-offset-1 col-xs-11">
	    <h1 class="work-title">User Works</h1>
	    <p class="work-explanation">
		他のユーザのWorkを参考にいろいろな考え方・価値観を知ってみましょう。<br>
		"お気に入り"をつけることで、ご自身の「Favorite」からいつでも確認できます。
	    </p>
    </div>

    <div class="col-xs-offset-1 col-xs-11">
    	<div class="col-xs-6">
    	    <div class="user_works-title">新着</div>
            <div class="title-bottom_line"></div>
            <% @user_essential_goals.each do |goal| %>
    	        <div class="row user_works-box">
                    <div class="col-xs-12 margin_style2">
                        <%= link_to user_path(goal.user) do %>
                            <%= attachment_image_tag goal.user, :profile_image, class: "user-icon", fallback:"no_image.jpg" %>
                        <% end %>
                        <span class="slash-interval"> / </span>
                        <span><%= goal.user.name %></span>
                    </div>
    		        <div class="col-xs-4">本質目標</div>
    		        <div class="col-xs-8">
                        <%= simple_format(goal.writing) %>
                    </div>
                    <%= link_to user_work_path(goal.user.id)do %>
                        <button class="btn btn-xs btn-default pull-right">もっとみる</button>
                    <% end %>
                </div>
                <div class="border_bottom-line"></div>
            <% end %>
            <div class="list-page">
                <%= link_to "新着一覧", user_newArrivals_path, class: " btn back-color-gray btn-md btn-secondary" %>
            </div>
        </div>
        <div class="col-xs-6">
    	    <div class="user_works-title">ランキング</div>
            <div class="title-bottom_line"></div>
            <% @all_ranks.each.with_index(1) do |work, i| %>
                <div class="row user_works-box">
                    <div class="col-xs-4 rank_number"><%= i %>位</div>
                    <div class="col-xs-8 margin_style2">
                        <%= attachment_image_tag work.user, :profile_image, class: "user-icon", fallback:"no_image.jpg" %>
                        <span class="slash-interval"> / </span>
                        <span><%= work.user.name %></span>
                    </div>
        		    <div class="col-xs-4">本質目標</div>
        		    <div class="col-xs-8"><%= simple_format(work.writing) %></div>
                    <%= link_to user_work_path(work.user.id) do %>
                        <button class="btn btn-xs btn-default pull-right">もっとみる</button>
                    <% end %>
                </div>
                <div class="border_bottom-line"></div>
            <% end %>
            <div class="list-page">
                <%= link_to "ランキング一覧", ranks_path, class: " btn back-color-gray btn-md" %>
            </div>
        </div>
    </div>
</div>