<div class="row">
	<div class="col-xs-offset-1 col-xs-10">
		<div class="row">
		    <h1 class="work-title">User Work</h1>
		    <p class="work-explanation">
			他のユーザのWorkを参考にいろんな考え方・価値観を知ってみましょう。<br>
			"いいね"をつけることで、ご自身の「Favorite」からいつでも確認できます。
		    </p>
        </div>

        <div class="row space">
        	<div class="col-xs-5">
        	    <h3>新着</h3>
                <% @essential_goals.each do |goal| %>
        	        <div class="row essential">
        		        <div class="col-xs-3">本質目標</div>
        		        <div class="col-xs-9"><%= goal.writing %></div>
                        <br>
        		        <div class="col-xs-4"><%= attachment_image_tag goal.user, :profile_image, size:"30x30", fallback:"no_image.jpg" %></div>
        		        <div class="col-xs-6"><%= goal.user.name %></div>
                    </div>
                    <%= link_to "もっと見る", user_work_path(goal.id), class:"col-xs-offset-5 col-xs-2 btn btn-sm pull-right" %>
                    <br>
                    <br>
                <% end %>
            </div>
            <div class="col-xs-offset-2 col-xs-5">
        	    <h3>いいね数ランキング</h3>
                <% @all_ranks.each.with_index(1) do |work, i| %>
                    <span class="rank_number"><%= i %>位</span> / 
                    <span class="favorite_count"><%= work.favorites.count %>いいね</span>
            	    <div class="row essential">
            		    <div class="col-xs-3">本質目標</div>
            		    <div class="col-xs-9"><%= work.writing %></div>
            		    <div class="col-xs-3"><<%= attachment_image_tag work.user, :profile_image, size:"30x30", fallback:"no_image.jpg" %></div>
            		    <div class="col-xs-6"><%= work.user.name %></div>
            	    </div>
                    <%= link_to "もっと見る", user_work_path(work.id), class:"col-xs-offset-5 col-xs-2 btn btn-sm pull-right" %>
                    <br>
                    <br>
                <% end %>
            </div>
        </div>
    </div>
</div>