<div class="row space_top">
	<div class="col-xs-offset-1 col-xs-10">
		<div class="row">
			<% if @user == current_user %>
				<h1 class="headline_style-1">My Page</h1>
			<% else %>
				<h1 class="headline_style-1">User Page</h1>
			<% end %>
			<div class="bottom_line_style-1">
		</div>
		<div class="row user_page-content">
		    <div class="col-xs-offset-2 col-xs-3 user_page-text">user icon</div>
		    <div>
		    	<%= attachment_image_tag @user, :profile_image, class: "user_page-icon", fallback: "no_image.jpg" %>
		    </div>
		</div>
		<div class="row user_page-content">
			<div class="col-xs-offset-2 col-xs-3 user_page-text">name</div>
		    <div class="col-xs-6"><%= @user.name %></div>
		</div>
		<div class="row user_page-content">
			<div class="col-xs-offset-2 col-xs-3 user_page-text">essentila goal</div>
		    <div class="col-xs-6"><%= simple_format(@essential_goal.writing) %></div>
		</div>
		<div class="row user_page-content">
			<div class="col-xs-offset-2 col-xs-3 user_page-text">introduction</div>
		    <div class="col-xs-6"><%= simple_format(@user.introduction) %></div>
		</div>
		<% if @user.id == current_user.id %>
		    <div class="row">
			    <div>
			    	<%= link_to "編集", edit_user_path(@user), class:"col-xs-offset-2 col-xs-3 btn btn-primary" %>
			    </div>
			    <div>
			    	<%= link_to "退会", user_path(@user), method: :delete, class:"col-xs-offset-2 col-xs-3 btn btn-danger", "data-confirm"=>"本当に退会してよろしいですか？" %>
			    </div>
		    </div>
		<% end %>
	</div>
</div>