<!DOCTYPE html>
<html>
  <head>
    <title>Essentialism</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
        <!-- ハンバーガーメニュー -->
        <div id="sp-menu">
          <h2>MENU</h2>
          <ul>
            <li><a href="#">My Page</a></li>
            <li><a href="#">Learn</a></li>
            <li><a href="#">My Work</a></li>
            <li><a href="">Other User Work</a></li>
            <li><a href="#">Favorite</a></li>
          </ul>
        </div>

        <div id="hm-icon">
          <a class="menu-trigger" href="#">
            <span></span>
            <span></span>
            <span></span>
          </a>
        </div>


    <%= yield %>
  </body>
</html>
