<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Essentialism</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/fff3ba2388.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body role="document" data-spy="scroll" data-target="#aboutScrollSpy" data-offset="300">

    <div class="container-fluid space_bottom">
      <div class="row header">
        <div class="col-sm-5 title">Essentialism</div>
        <div class="col-sm-6 header-menu">
          <ul>
            <li><%= link_to "Learns", learns_path %></li>
            <li>/</li>
            <li><%= link_to "My Works", works_path %></li>
            <li>/</li>
            <li><%= link_to "User Works", user_works_path %></li>
            <li>/</li>
            <li><a href="#">Favorites</a></li>
          </ul>
        </div>
        <% if user_signed_in? %>
            <div class="header_user-icon">
              <%= link_to user_path(current_user) do %>
                <%= attachment_image_tag current_user, :profile_image, fallback: "no_image.jpg" %>
              <% end %>
            </div>
        <% else %>
            <div class="header_user-icon">ようこそ<br>” ゲスト様 ”</div>
        <% end %>
        <!-- ハンバーガーメニュー -->
        <div id="hm-icon">
          <a class="menu-trigger" href="#">
            <span></span>
            <span></span>
            <div class="menu-text">MENU</div>
          </a>
        </div>
        <div id="sp-menu">
          <nav>
            <h1>MENU</h1>
            <% if user_signed_in? %>
              <ul>
                <li><%= link_to "My Page", user_path(current_user.id) %></li>
                <li><%= link_to "Learns", learns_path %></li>
                <li><%= link_to "My Works", works_path %></li>
                <li><%= link_to "User Works", user_works_path %></li>
                <li><a href="#">Favorites</a></li>
                <li><%= link_to "Log Out", destroy_user_session_path, method: :delete %></li>
              </ul>
            <% else %>
              <ul>
                <li><%= link_to "Sign in", new_user_registration_path %></li>
                <li><%= link_to "Log in", new_user_session_path %></li>
                <li><%= link_to "Learns", learns_path %></li>
                <li><%= link_to "About", about_path %></li>
              </ul>
            <% end %>
          </nav>
        </div>
        <!-- ハンバーガメニュー -->
      </div>

      <!-- ↓fixedの余白を埋めるbox↓ -->
      <div class="row space_top"></div>

      <%= yield %>
    </div>

    <div class="container-fluid">
      <div class="row footer"> ©2021/Essentialism/All Rigth Reserved</div>
    </div>

  </body>
</html>
