<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title>Essentialism</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body role="document" data-spy="scroll" data-target="#aboutScrollSpy" data-offset="300">

    <div class="container-fluid space_bottom">
      <div class="row header">
        <div class="col-xs-2 logo-image">LOGO</div>
        <div class="col-xs-offset-1 col-xs-6 title">エッセンシャル思考</div>
        <div class="col-xs-2 guest-name">ようこそ<br>”ゲスト”様</div>
        <!-- ハンバーガーメニュー -->
        <div id="hm-icon">
          <a class="menu-trigger" href="#">
            <span></span>
            <span></span>
            <span></span>
            <div class="menu-text">MENU</div>
          </a>
        </div>
        <div id="sp-menu">
          <h1>MENU</h1>
          <ul>
            <li><a href="/#">My Page</a></li>
            <li><a href="/learns">Learn</a></li>
            <li><a href="/works">My Work</a></li>
            <li><a href="works/users">User Work</a></li>
            <li><a href="#">Favorite</a></li>
          </ul>
        </div>
        <!-- ハンバーガメニュー -->
      </div>

      <!-- ↓fixedの余白を埋めるbox↓ -->
      <div class="row space_top"></div>

      <%= yield %>
    </div>

    <div class="container-fluid">
      <div class="row footer"> ©2020/Essentialism/All Rigth Reserved</div>
    </div>

  </body>
</html>
